// footer
footer
	.container
		.footer
			//footer header
			.footer-header
				// footer col
				ul.footer-header__col.footer-header__col--1
					li.footer__logo
						a(href="index.html")
							img(src="images/svg/logo.svg" alt="")

				// footer col
				ul.footer-header__col.footer-header__col--2
					li
						a(href="work.html") Как мы работаем
					li
						a(href="guide.html") Руководство и СМИ

				// footer col
				ul.footer-header__col.footer-header__col--3
					li
						a(href="portfolio.html") Портфолио

				// footer col
				ul.footer-header__col.footer-header__col--4
					li
						a(href="complex.html") Комплексный подход
					li
						a(href="branding.html") Стратегический маркетинг. Брендинг
					li
						a(href="design.html") Дизайн
					li
						a(href="presentations.html") Создание презентаций
					li
						a(href="development.html") Разработка сайта
					li
						a(href="marketing.html") Интернет-продвижение
					li
						a(href="context.html") Контекстная реклама
				// footer col
				.footer-header__col.footer-header__col--5

					ul
						li
							a(href="contacts.html").link-menu Контакты
						li
							a(href="tel:+78003022728") 8 800 302 27 28
							span (бесплатно по России)
						li
							a(href="tel:+78129091413") +7 812 909 14 13
						li
							a(href="mailto: info@market-me.ru") info@market-me.ru
					p Россия, 199106<br> г. Санкт-Петербург, <i class="br"></i>Средний пр. В.О., 88 <i class="br"></i> литера А, офис 501

			// footer bottom
			.footer-bottom
				p.copyright © ООО «МаркетМи» 2020


	.footer__gradient