// footer
footer
	.container
		.footer
			//footer header
			.footer-header
				// footer col
				ul.footer-header__col.footer-header__col--1
					li
						a(href="") О нас
					li
						a(href="") Портфолио
					li
						a(href="") Услуги
					li
						a(href="") Контакты
				// footer col
				ul.footer-header__col.footer-header__col--2
					li
						a(href="") 8К-Маркетинг
					li
						a(href="") Комплексный подход
					li
						a(href="") Создание презентаций
					li
						a(href="") Разработка сайта под ключ
					li
						a(href="") Дизайн
					li
						a(href="") Стратегический маркетинг. Брендинг
					li
						a(href="") Интернет-продвижение
					li
						a(href="") Маркетинговый консалтинг
				// footer col
				.footer-header__col.footer-header__col--3
					h3.footer-header__title Контакты
					ul
						li
							a(href="tel:+78003022728") 8 800 302 27 28
							span (бесплатно по России)
						li
							a(href="+78129091413") +7 812 909 14 13
						li
							a(href="mailto: info@market-me.ru") info@market-me.ru
					p г. Санкт-Петербург, 199106 <i class="br"></i> Средний пр. В.О., дом 88 <i class="br"></i> литера А, офис 501

			// footer bottom
			.footer-bottom
				p.copyright © ООО «МаркетМи» 2020
				.footer__logo
					a(href="index.html")
						img(src="images/svg/logo.svg" alt="")