// header
header
	.container
		.header
			// header logo
			.header__logo
				a(href="index.html")
					img(src="images/svg/logo.svg" alt="")
			// header menu
			ul.header__menu
				li
					a(href="") О нас
				li
					a(href="") Портфолио
				li
					a(href="") Услуги
				li
					a(href="") Контакты
			// header contacts
			ul.header__contacts
				li
					a(href="tel:+78003022728") 8 800 302 27 28
					span (бесплатно по России)
				li
					a(href="+78129091413") +7 812 909 14 13
				li
					a(href="mailto:info@market-me.ru") info@market-me.ru

			.burger


			// mobile menu
			.mobile-menu
				.mobile-menu__wrapper
					ul
						li
							a(href="") О нас
						li
							a(href="") Портфолио
						li
							a(href="") Услуги
						li
							a(href="") Комплексный подход
						li
							a(href="") Создание презентаций
						li
							a(href="") Разработка сайтов
						li
							a(href="") Дизайн
						li
							a(href="") Стратегический маркетинг. Брендинг
						li
							a(href="") Интернет-продвижение
						li
							a(href="") Маркетинговый консалтинг
						li
							a(href="") Конакты

					ul
						li
							a(href="tel:+78003022728") 
								span 8 800 302 27 28
								span (бесплатно по России)
						li
							a(href="tel:78003022728")
								span 8 800 302 27 28
						li
							a(href="mailto:info@market-me.ru") 
								span info@market-me.ru

	.header__gradient