// header
header
	.container
		.header
			// header logo
			.header__logo
				a(href="index.html")
					img(src="images/svg/logo.svg" alt="")
			// header menu
			nav(role="navigation")
				ul.header-menu
					li
						a(href="") О нас
						ul.submenu
							li
								a(href="work.html") Как мы работаем
							li
								a(href="duide.html") Руководство и СМИ
					li
						a(href="") Портфолио
					li
						a(href="") Услуги
						ul.submenu
							li
								a(href="complex.html") Комплексный подход
							li
								a(href="") Стратегический маркетинг. <br> Брендинг
							li
								a(href="design.html") Дизайн
							li
								a(href="") Создание презентаций
							li
								a(href="") Разработка сайтов
							li
								a(href="") Интернет-продвижение
							li
								a(href="context.html") Контекстная реклама

					li
						a(href="contacts.html") Контакты
			// header contacts
			ul.header__contacts
				li
					a(href="tel:+78003022728") 8 800 302 27 28
					span (бесплатно по России)
				li
					a(href="+78129091413") +7 812 909 14 13
				li
					a(href="mailto:info@market-me.ru") info@market-me.ru

			.burger


			// mobile menu
			.mobile-menu
				.mobile-menu__wrapper
					ul
						li
							a(href="work.html") Как мы работаем
						li
							a(href="guide.html") Руководство и СМИ
						li
							a(href="") Портфолио
						li
							a(href="complex.html") Комплексный подход
						li
							a(href="") Стратегический маркетинг. Брендинг
						li
							a(href="design.html") Дизайн
						li
							a(href="") Создание презентаций
						li
							a(href="") Разработка сайтов
						li
							a(href="") Интернет-продвижение
						li
							a(href="context.html") Контекстная реклама
						li
							a(href="contacts.html") Конакты

					ul
						li
							a(href="tel:+78003022728") 
								span 8 800 302 27 28
								span (бесплатно по России)
						li
							a(href="tel:78003022728")
								span 8 800 302 27 28
						li
							a(href="mailto:info@market-me.ru") 
								span info@market-me.ru

	.header__gradient