.modal#popup1
	.modal-order__close#closebutton
	.modal-order

		h2.title Оставьте заявку на бесплатную 30-минутную онлайн консультацию
		.modal-order__form
			.modal-order__form-inputs
				label(for="")
					span Ваше имя*
					input(type="text")
				label(for="")
					span Сфера деятельности*
					input(type="text")

				.modal-order__form-social.on-mobile
					p Пожелния к способу связи
					ul
						li
							a(href="" style="background-image:url('images/svg/social/icon1.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon2.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon3.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon4.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon5.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon6.svg')")

				label(for="")
					span Ваш телефон*
					input(type="text")
				label(for="")
					span Удобное для звонка время*
					input(type="text")

			.modal-order__form-bottom

				.modal-order__form-social.on-desctop
					p Пожелания к способу связи
					ul
						li
							a(href="" style="background-image:url('images/svg/social/icon1.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon2.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon3.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon4.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon5.svg')")
						li
							a(href="" style="background-image:url('images/svg/social/icon6.svg')")
				.complex-request__consent
					input(type="checkbox" id="consent")
					label(for="consent") Я даю согласие на обработку персональных данных и соглашаюсь с <a href="politica.pdf">политикой конфиденциальности</a>

			.btn-wrapper
				a.btn-gradient Отправить заявку