.modal#popup1
	.modal-order

		h2.title Оставьте заявку на бесплатную 30-минутную онлайн консультацию
		.modal-order__form
			.modal-order__form-inputs
				label
					span Ваше имя*
					input#input-name(type="text" onkeyup="checkParams2()")
				label
					span Сфера деятельности*
					input#input-sfera(type="text" onkeyup="checkParams2()")

				.modal-order__form-social.on-mobile
					p Пожелния к способу связи
					ul
						li
							a(style="background-image:url('images/svg/social/icon1.svg')")
						li
							a(style="background-image:url('images/svg/social/icon2.svg')")
						li
							a(style="background-image:url('images/svg/social/icon3.svg')")
						li
							a(style="background-image:url('images/svg/social/icon4.svg')")
						li
							a(style="background-image:url('images/svg/social/icon5.svg')")
						li
							a(style="background-image:url('images/svg/social/icon6.svg')")

				label
					span Ваш телефон*
					input#input-tel(type="text" onkeyup="checkParams2()")
				label
					span Удобное для звонка время*
					.modal-order__form-time
						button.arrow-top.increase
						input(type="any" value="11:00" min="1" max="24" step="0.1")
						button.arrow-down.decrease


			.modal-order__form-bottom

				.modal-order__form-social.on-desctop
					p Пожелания к способу связи
					ul
						li
							a(style="background-image:url('images/svg/social/icon1.svg')")
						li
							a(style="background-image:url('images/svg/social/icon2.svg')")
						li
							a(style="background-image:url('images/svg/social/icon3.svg')")
						li
							a(style="background-image:url('images/svg/social/icon4.svg')")
						li
							a(style="background-image:url('images/svg/social/icon5.svg')")
						li
							a(style="background-image:url('images/svg/social/icon6.svg')")
				.complex-request__consent
					input(type="checkbox" id="consent" onkeyup="checkParams2()")
					label(for="consent") Я даю согласие на обработку персональных данных и соглашаюсь с <a href="politica.pdf" target="_blank">  политикой конфиденциальности</a>

			.btn-wrapper
				.btn-gradient.btn-gradient--mode
					input#input-submit(type="submit" value="Оставить заявку" disabled)