script(src="js/jquery-3.5.0.min.js")
script(src="js/slick.min.js")
script(src="js/jquery.fancybox.min.js")
//- script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
//- script(src="js/map.js")
script(src="js/picturefill.min.js")

script(src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js")
script(src="js/main.js")
