script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&')
script(src='js/jquery-3.5.0.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/picturefill.min.js')
script(src='js/placemark.js')
script(src='js/autoptimize.js')
script(src='js/slick.min.js')
script(src='js/main.js')
