.btn-wrapper {
	display: flex;
	justify-content: center;
}

.btn-gradient {
	border: none;
	position: relative;
	padding: 10px 30px;
	border-radius: 30px;
	background: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: $color-blue;
	font-weight: 400;
	align-self: center;
	text-decoration: none;
	cursor: pointer;
	&::before {
		content: "";
		position: absolute;
		top: -5px;
		bottom: -5px;
		left: -5px;
		right: -5px;
		background: linear-gradient(90deg, rgba(105, 57, 133, 1) 0%, rgba(110, 186, 132, 1) 100%);
		border-radius: 34px;
		z-index: -1;
	}
	&:hover {
		text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
	}
	input {
		border: none;
		background-color: transparent;
		padding: 10px 30px;
	}
	&--mode {
		padding: 0;
		&:hover {
			input {
				text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
			}
		}
	}
	@media (max-width: 768px) {
		font-size: 13px;
	}
}