.complex-advantages {
	.container--mode {
		@media (max-width: 768px) {
			max-width: 100%;
			padding: 0;
		}
	}
}

.complex-advantages__fill {
	background-color: #e2ecf1;
	padding: 20px;
	text-align: center;
	margin-bottom: 40px;
	p {
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		color: $color-blue;
		@media (max-width: 768px) {
			font-size: 17px;
		}
	}
}

.complex-advantages__title {
	font-size: 23px;
	font-weight: 700;
	color: $color-blue;
	margin-bottom: 10px;
	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.complex-advantages__list {
	position: relative;
	padding: 30px 160px;
	&::before {
		content: "";
		position: absolute;
		background-image: url("../images/pictures/fon1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 216px;
		height: 168px;
		left: -100px;
		top: 20px;
		z-index: -1;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url("../images/pictures/fon2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 226px;
		height: 176px;
		right: -50px;
		top: 20px;
		z-index: -1;
		@media (max-width: 768px) {
			width: 82px;
			height: 64px;
			right: 0;
			bottom: 20px;
			top: auto;
		}
	}
	ul {
		li {
			position: relative;
			padding-left: 30px;
			&::before {
				content: "";
				position: absolute;
				width: 6px;
				height: 12px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-image: url("../images/svg/arrow-triangle.svg");
				@media (max-width: 768px) {
					top: 3px;
					transform: translateY(0);
				}
			}
			@media (max-width: 768px) {
				font-size: 14px;
				margin-bottom: 10px;
				padding-left: 20px;
			}
		}
	}
	@media (max-width: 768px) {
		padding: 0;
	}
}
