.complex-services {
	h2.title {
		font-family: $font-add;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 60px;
		text-align: center;
		text-transform: uppercase;
		color: $color-blue;
		@media (max-width: 768px) {
			font-size: 20px;
		}
	}
}

.complex-services__picture--right {
	width: 250px;
	padding-left: 20px;
	order: 1;
	flex: 1 0 auto;
	position: relative;
	.alt {
		font-family: $font-add;
		position: absolute;
		padding: 20px;
		font-size: 22px;
		font-weight: 700;
		color: $color-blue;
		top: -40px;
		right: 70%;
		background-color: $color-white;
		white-space: nowrap;
		box-shadow: 0 0 10px #ccc;
		z-index: 10;
		text-overflow: ellipsis;
		white-space: nowrap;
		&::after {
			content: "";
			position: absolute;
			bottom: -20px;
			border: 30px solid transparent;
			border-top: 30px solid #fff;
			z-index: 10;
			right: -10px;
			transform: rotate(225deg);
			@media (max-width: 768px) {
				left: -5px;
				right: auto;
				transform: rotate(135deg);
				border: 20px solid transparent;
				border-top: 20px solid #fff;
				box-shadow: 0 -7px 5px -4px #58595b3d;
			}
		}
		@media (max-width: 768px) {
			left: -10px;
			right: auto;
			width: auto;
			font-size: 18px;
			padding: 10px;
			padding-left: 20px;
			white-space: normal;
			top: 0;
			transform: translateY(-100%);
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		padding-left: 0;
		order: 0;
		margin-bottom: 10px;
	}
}

.complex-services__picture--left {
	width: 250px;
	padding-right: 20px;
	flex: 1 0 auto;
	position: relative;
	.alt {
		font-family: $font-add;
		position: absolute;
		padding: 15px;
		font-size: 22px;
		font-weight: 700;
		color: $color-blue;
		top: -40px;
		left: 75%;
		background-color: $color-white;
		box-shadow: 0 0 10px #ccc;
		z-index: 10;
		text-overflow: ellipsis;
		white-space: nowrap;
		&::after {
			content: "";
			position: absolute;
			bottom: -20px;
			border: 30px solid transparent;
			border-top: 30px solid #fff;
			z-index: 10;
			left: -10px;
			transform: rotate(135deg);
			@media (max-width: 768px) {
				border: 20px solid transparent;
				border-top: 20px solid #fff;
				left: -5px;
				box-shadow: 0 -7px 5px -4px #58595b3d;
			}
		}
		@media (max-width: 768px) {
			left: -10px;
			width: auto;
			font-size: 18px;
			white-space: normal;
			padding: 10px;
			padding-left: 20px;
			top: 0;
			transform: translateY(-100%);
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		padding-right: 0;
		margin-bottom: 10px;
	}
}

.complex-services__row {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	&:last-child {
		@media (max-width: 768px) {
			margin-bottom: 0;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 65px;
	}
}

.complex-services__text {
	p {
		font-size: 18px;
		font-weight: 400;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}
