.complex-description {
	padding-top: 70px;
	h2.title {
		font-size: 30px;
		font-weight: 700;
		color: $color-blue;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 70px;
		font-family: $font-base;
		@media (max-width: 768px) {
			font-size: 18px;
			margin-bottom: 30px;
		}
	}
	@media (max-width: 768px) {
		padding-top: 30px;
	}
}

.complex-description__wrapper {
	display: flex;
	margin-bottom: 50px;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.complex-description__col {
	width: 50%;
	&:first-child {
		padding-right: 30px;
		@media (max-width: 768px) {
			order: 1;
			padding-right: 0;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}

.complex-description__title {
	font-family: $font-add;
	font-size: 25px;
	font-weight: 700;
	color: $color-blue;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		font-size: 17px;
		margin: 20px 0;
	}
}

.complex-description__text {
	p {
		color: $color-text;
		margin-bottom: 10px;
		line-height: 1;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}
