.context-work {
	margin-bottom: 70px;
	h2.title {
		font-size: 25px;
		font-weight: 700;
		color: $color-blue;
		margin-bottom: 60px;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: 768px) {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
}

.context-work__wrapper {
	display: flex;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.context-work__wrapper-col {
	width: calc(50% - 80px);
	h3 {
		font-size: 20px;
		font-weight: 700;
		color: $color-blue;
		margin-bottom: 25px;
		@media (max-width: 768px) {
			margin-bottom: 20px;
			font-size: 15px;
		}
	}
	&:first-child {
		@media (max-width: 768px) {
			margin-bottom: 45px;
		}
	}
	img {
		margin-bottom: 30px;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	ul {
		li {
			font-size: 18px;
			position: relative;
			padding-left: 20px;
			margin-bottom: 5px;
			position: relative;
			padding-left: 20px;
			&::before {
				content: "";
				position: absolute;
				background-image: url("../images/svg/arrow-triangle.svg");
				width: 6px;
				height: 12px;
				background-size: cover;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				@media (max-width: 768px) {
					width: 5px;
					height: 10px;
				}
			}
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}
