.contacts-write {
	display: flex;
	padding-bottom: 60px;
	h2.title {
		font-size: 25px;
		font-weight: 700;
		color: $color-blue;
		text-transform: uppercase;
		padding-left: 50px;
		background-image: url("../images/svg/email-gradient.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left center;
		background-size: 40px 27px;
		white-space: nowrap;
		align-self: start;
		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.contacts-write__form {
	width: 60%;
	margin-left: auto;
	@media (max-width: 768px) {
		width: 100%;
	}
}

.contacts-write__top {
	display: flex;
	margin-bottom: 30px;
	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 15px;
	}
}

.contacts-write__inputs {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	flex: auto;
	input {
		line-height: 34px;
		padding: 0 20px;
	}
	label {
		display: flex;
		flex-direction: column;
		font-size: 15px;
		margin-bottom: 10px;

		span {
			margin-bottom: 5px;
		}
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
	@media (max-width: 768px) {
		margin-right: 0;
	}
}

.contacts-write__textarea {
	flex: auto;
	label {
		height: 100%;
		textarea {
			height: 100%;
			resize: none;
			padding: 20px;
		}
		margin-bottom: 10px;
		span {
			margin-bottom: 5px;
		}
		font-size: 15px;
		display: flex;
		flex-direction: column;
	}
}

.contacts-write__consent {
	margin-bottom: 30px;
	input[type="checkbox"] {
		display: none;
		&:checked + label {
			&::before {
				background-image: url("../images/svg/check.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}
	display: flex;
	align-items: center;
	font-size: 13px;
	a {
		font-size: 13px;
		color: $color-text;
	}
	label {
		position: relative;
		padding-left: 30px;
		&::before {
			content: "";
			position: absolute;
			width: 21px;
			height: 21px;
			border: 1px solid $color-text;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			@media (max-width: 768px) {
				top: 0;
				transform: translateY(0);
			}
		}
	}
	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.contacts-write__submit {
	display: flex;
	justify-content: center;
}
