.context-advantages {
	margin-bottom: 40px;
	h2.title {
		background-color: $color-light-blue;
		font-size: 30px;
		font-weight: 400;
		text-align: center;
		padding: 10px 0;
		margin-bottom: 40px;
		color: $color-blue;
		@media (max-width: 768px) {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}

.context-advantages__list {
	display: flex;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.context-advantages__item {
	width: calc(100% / 3 - 100px);
	img {
		margin-bottom: 30px;
		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
	}
	h3 {
		font-size: 22px;
		font-weight: 700;
		color: $color-blue;
		margin-bottom: 25px;
		@media (max-width: 768px) {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	p {
		font-size: 18px;
		@media (max-width: 768px) {
			font-size: 14px;
			margin-bottom: 40px;
		}
	}
	ul {
		li {
			white-space: nowrap;
			margin-bottom: 5px;
			position: relative;
			padding-left: 20px;
			&::before {
				content: "";
				position: absolute;
				background-image: url("../images/svg/arrow-triangle.svg");
				width: 6px;
				height: 12px;
				background-size: cover;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				@media (max-width: 768px) {
					width: 5px;
					height: 10px;
				}
			}
		}
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}
