footer {
	// border-top: 2px solid $color-blue;
	position: relative;
}

.footer__gradient {
	position: absolute;
	background-image: url("../images/svg/line-gradient.svg");
	background-size: cover;
	background-repeat: repeat;
	height: 5px;
	top: 0;
	left: -10px;
	padding-right: 10px;
	box-sizing: content-box;
	width: 100%;
}

.footer {
	padding: 50px 0;
	@media (max-width: 768px) {
		padding: 25px 0;
	}
}

.footer-header {
	display: flex;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.footer-header__col {
	// width: calc(100% / 5 - 20px);
	li {
		margin-bottom: 20px;
		line-height: 0.7;
		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
	}
	a {
		font-size: 17px;
		text-decoration: none;
		color: $color-blue;
		&:hover {
			text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
		}
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		// margin-bottom: 20px;
	}
}

.footer__logo {
	width: 135px;
	@media (max-width: 768px) {
		width: 74px;
		margin-bottom: 20px !important;
	}
}

.footer-header__col.footer-header__col--1 {
	@media (max-width: 768px) {
		order: 1;
	}
}

.footer-header__col.footer-header__col--5 {
	li {
		display: flex;
		flex-direction: column;
		line-height: 1.2;
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 25px;
	}
	.footer-header__title {
		font-size: 17px;
		font-weight: 400;
		color: $color-blue;
		margin-bottom: 20px;
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
	a,
	span,
	p {
		font-size: 14px;
		font-weight: 400;
		color: $color-blue;
		line-height: 1.2;
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.copyright {
	font-size: 14px;
	font-weight: 400;
	color: $color-blue;
	@media (max-width: 768px) {
		font-size: 12px;
	}
}
