footer {
	// border-top: 2px solid $color-blue;
	position: relative;
}

.footer__gradient {
	position: absolute;
	background-image: url("../images/svg/line-gradient.svg");
	background-size: cover;
	background-repeat: repeat;
	height: 5px;
	top: 0;
	left: 0;
	width: 100%;
}

.footer {
	padding: 50px 0;
	@media (max-width: 768px) {
		padding: 25px 0;
	}
}

.footer__logo {
	width: 135px;
	@media (max-width: 768px) {
		width: 74px;
	}
}

.footer-header {
	display: flex;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.footer-header__col {
	width: calc(100% / 5 - 20px);
	li {
		margin-bottom: 20px;
		line-height: 0.7;
		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
	}
	a {
		font-size: 17px;
		text-decoration: none;
		color: $color-blue;
		&:hover {
			color: $color-green;
		}
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		margin-bottom: 20px;
	}
}

.footer-header__col.footer-header__col--1 {
	@media (max-width: 768px) {
		order: 1;
	}
}

.footer-header__col.footer-header__col--5 {
	li {
		display: flex;
		flex-direction: column;
		line-height: 1.2;
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 25px;
	}
	.footer-header__title {
		font-size: 17px;
		font-weight: 400;
		color: $color-blue;
		margin-bottom: 20px;
		@media (max-width: 768px) {
			font-size: 13px;
		}
	}
	a,
	span,
	p {
		font-size: 14px;
		font-weight: 400;
		color: $color-blue;
		line-height: 1.2;
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}
}

.copyright {
	font-size: 14px;
	font-weight: 400;
	color: $color-blue;
	@media (max-width: 768px) {
		font-size: 12px;
	}
}

// .footer-header {
// 	display: flex;
// 	justify-content: space-between;
// 	@media (max-width: 768px) {
// 		flex-direction: column;
// 	}
// }

// .footer-header__col {
// 	li {
// 		color: $color-blue;
// 		font-weight: 400;
// 		a {
// 			color: $color-blue;
// 			font-weight: 400;
// 			text-decoration: none;
// 			@media (max-width: 768px) {
// 				font-size: 14px;
// 			}
// 		}
// 	}
// 	&--1 {
// 		li {
// 			margin-bottom: 15px;
// 			@media (max-width: 768px) {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}
// 	&--2 {
// 		li {
// 			margin-bottom: 5px;
// 			a {
// 				font-size: 13px;
// 				@media (max-width: 768px) {
// 					font-size: 14px;
// 				}
// 			}
// 			@media (max-width: 768px) {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}
// 	&--3 {
// 		color: $color-blue;
// 		ul {
// 			line-height: 1.5;
// 			margin-bottom: 20px;
// 			@media (max-width: 768px) {
// 				line-height: 1;
// 			}
// 		}
// 		li {
// 			display: flex;
// 			flex-direction: column;
// 		}
// 		a {
// 			font-size: 13px;
// 			@media (max-width: 768px) {
// 				font-size: 12px !important;
// 			}
// 		}
// 		p {
// 			font-size: 13px;
// 			@media (max-width: 768px) {
// 				font-size: 12px;
// 			}
// 		}
// 		span {
// 			font-size: 13px;
// 			@media (max-width: 768px) {
// 				font-size: 12px;
// 			}
// 		}
// 	}
// 	a {
// 		&:hover {
// 			color: $color-green;
// 		}
// 	}
// 	@media (max-width: 768px) {
// 		margin-bottom: 20px;
// 	}
// }

// .footer-header__title {
// 	font-size: 22px;
// 	font-weight: 400;
// 	color: $color-blue;
// 	margin-bottom: 20px;
// 	@media (max-width: 768px) {
// 		display: none;
// 	}
// }

// .footer-header {
// 	margin-bottom: 10px;
// }

// .footer-bottom {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	.copyright {
// 		font-size: 13px;
// 		font-weight: 400;
// 		color: $color-blue;
// 		@media (max-width: 768px) {
// 			order: 1;
// 		}
// 	}
// 	@media (max-width: 768px) {
// 		flex-direction: column;
// 		align-items: flex-start;
// 	}
// }
