.guide-video {
	max-width: 1095px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.item {
		margin-bottom: 60px;
		width: calc(50% - 30px);
		&:hover {
			text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
		}
		i.br {
			display: block;
			@media (max-width: 768px) {
				display: none;
			}
		}
		p {
			font-size: 18px;
			color: $color-blue;
			margin-top: 10px;
			@media (max-width: 768px) {
				font-size: 15px;
			}
		}
		@media (max-width: 768px) {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 50px;
		.item {
			width: 100%;
			iframe {
				width: 100%;
			}
		}
	}
}
