.guide-row {
	display: flex;
	align-items: flex-start;
	max-width: 930px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 70px;
	img {
		width: 280px;
		margin-right: 30px;
		object-fit: cover;
		@media (max-width: 768px) {
			width: 75px;
			height: 115px;
			margin-right: 10px;
		}
	}
	.bubble__wrapper {
		position: relative;
		p.on-desctop {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
	.bubble {
		position: relative;
		margin-bottom: 35px;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 20px;
			width: 35px;
			height: 35px;
			background-image: url("../images/svg/web-decorator.svg");
			background-size: 100% 100%;
		}
		p {
			padding: 30px;
			@media (max-width: 768px) {
				padding: 5px 10px;
				line-height: 0.8;
			}
		}
		i {
			font-size: 28px;
			font-weight: 700;
			color: $color-blue;

			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
	}
	h3 {
		font-size: 25px;
		font-weight: 400;
		color: $color-blue;
		text-transform: uppercase;
		margin-bottom: 20px;
		@media (max-width: 768px) {
			font-size: 14px;
			position: absolute;
			top: 95px;
			right: 0;
		}
	}
	p {
		font-size: 20px;
	}
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}
