.guide {
	padding-top: 70px;
	h1.title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: none;
		color: $color-blue;
		margin-bottom: 70px;
		@media (max-width: 768px) {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	p.on-mobile {
		display: none;
		@media (max-width: 768px) {
			display: block;
			padding: 0 15px;
			margin-bottom: 25px;
		}
	}
	@media (max-width: 768px) {
		padding-top: 30px;
	}
}
