header {
	// border-bottom: 2px solid $color-blue;
	position: relative;
	margin-bottom: 70px;
	position: relative;
	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.header__gradient {
	position: absolute;
	background-image: url("../images/svg/line-gradient.svg");
	background-size: cover;
	background-repeat: repeat;
	height: 5px;
	bottom: 0;
	left: 0;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 40px 40px 80px;
	@media (max-width: 768px) {
		padding: 20px 0;
	}
}

.header__logo {
	width: 135px;
	flex: 1 0 auto;
	@media (max-width: 768px) {
		width: 74px;
		flex: 0 1 auto;
	}
}

.header__menu {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		margin-right: 30px;
		a {
			color: $color-blue;
			font-size: 19px;
			font-weight: 400;
			text-decoration: none;
			&:hover {
				color: $color-green;
			}
		}
	}
	@media (max-width: 768px) {
		display: none;
	}
}

.header__contacts {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	li {
		display: flex;
		flex-direction: column;
		span {
			color: $color-green;
			font-size: 12px;
			font-weight: 400;
		}
		a {
			color: $color-green;
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;
		}
	}
	@media (max-width: 768px) {
		display: none;
	}
}
