header {
	position: relative;
}

.header__gradient {
	position: absolute;
	background-image: url("../images/svg/line-gradient.svg");
	background-size: cover;
	background-repeat: repeat;
	height: 5px;
	bottom: 0;
	left: -10px;
	padding-right: 10px;
	width: 100%;
	box-sizing: content-box;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	@media (max-width: 768px) {
		padding: 20px 0;
	}
}

.header__logo {
	width: 135px;
	flex: 1 0 auto;
	@media (max-width: 768px) {
		width: 74px;
		flex: 0 1 auto;
	}
}

.header__contacts {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	font-family: $font-add;
	li {
		display: flex;
		flex-direction: column;
		span {
			color: $color-text;
			font-size: 12px;
			font-weight: 400;
		}
		a {
			color: $color-text;
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;
		}
	}
	@media (max-width: 768px) {
		display: none;
	}
}
