#closebutton {
	width: 100%;
	height: 100%;
}

.modal-order {
	z-index: 1;
	display: block;
	background-color: $color-light-blue;
	padding: 40px 70px;
	max-width: 900px;
	width: 900px;
	position: relative;
	h2.title {
		font-size: 22px;
		font-weight: 700;
		color: $color-blue;
		margin-bottom: 40px;
		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 25px;
		}
	}
	@media (max-width: 768px) {
		width: auto;
		max-width: 100%;
		height: 100vh;
		padding: 30px;
		padding-top: 50px;
	}
}

.modal-order__form-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	label {
		display: flex;
		flex-direction: column;
		width: calc(50% - 50px);
		span {
			font-size: 18px;
			margin-bottom: 5px;
			color: $color-text;
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	input {
		border: none;
		margin-bottom: 15px;
		padding: 0 10px;
		font-size: 18px;
		line-height: 40px;
		color: $color-text;
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.modal-order__form-bottom {
	display: flex;
	justify-content: space-between;
	& > div {
		width: calc(50% - 50px);
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	label {
		color: $color-text;
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.modal-order__form-social {
	display: flex;
	flex-direction: column;
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			display: flex;
			margin-right: 10px;
			&:last-child {
				margin-right: none;
			}
			a {
				background-repeat: no-repeat;
				width: 30px;
				height: 30px;
			}
		}
	}
	p {
		color: $color-text;
		font-size: 18px;
		margin-bottom: 10px;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
	&.on-mobile {
		display: none;
		@media (max-width: 768px) {
			display: flex;
		}
	}
	&.on-desctop {
		@media (max-width: 768px) {
			display: none;
		}
	}
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.modal-order__form-submit {
	display: flex;
	justify-content: center;
	button {
		font-size: 16px;
		color: $color-blue;
	}
}

.modal-order__close {
	// position: absolute;
	width: 15px;
	height: 15px;
	background-image: url("../images/svg/close.svg");
	background-size: 17px auto;
	background-repeat: no-repeat;
	top: 17px;
	right: 17px;
	cursor: pointer;
}
