.slick-dots {
	li {
		margin: 0 7px;
		width: 14px;
		height: 14px;
		background-size: cover;
		background-repeat: no-repeat;
		border: 1px solid $color-blue;
		opacity: 1;
		&.slick-active {
			background-image: url("../images/svg/dot.svg");
			border: none;
		}
	}
}

.slick-prev,
.slick-next {
	width: 25px;
	height: 50px;
	background-image: url("../images/svg/arrow-gradient.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	z-index: 10;
	cursor: pointer;
	&:hover,
	&:focus {
		background: url("../images/svg/arrow-gradient.svg");
	}
	&::before {
		display: none;
	}
}

.slick-prev {
	left: -55px;
	@media (max-width: 768px) {
		left: 10px;
	}
}

.slick-next {
	right: -55px;
	transform: scale(-1) translateY(50%);
	@media (max-width: 768px) {
		right: 10px;
	}
}
