.work-advantages {
	position: relative;
	margin-top: 70px;
	margin-bottom: 70px;
	.container {
		max-width: 910px;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		background-size: cover;
		z-index: -1;
		bottom: 50px;
	}
	&::before {
		background-image: url("../images/pictures/work/fon1.jpg");
		width: 206px;
		height: 252px;
		left: 0;
		@media (max-width: 768px) {
			width: 88px;
			height: 108px;
			bottom: auto;
			top: 229px;
			right: 0;
			left: auto;
			transform: scale(-1, 1);
		}
	}
	&::after {
		background-image: url("../images/pictures/work/fon2.jpg");
		width: 242px;
		height: 230px;
		right: 0;
		@media (max-width: 768px) {
			width: 101px;
			height: 96px;
			bottom: -30px;
		}
	}
	h1.title {
		font-size: 30px;
		font-weight: 700;
		color: $color-blue;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 55px;
		@media (max-width: 768px) {
			font-size: 18px;
		}
	}
	p {
		text-align: center;
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
	h2.title {
		font-size: 25px;
		font-weight: 700;
		color: $color-blue;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 50px;
		margin-top: 60px;
		@media (max-width: 768px) {
			font-size: 18px;
		}
	}
	ul {
		li {
			font-size: 20px;
			display: flex;
			margin-bottom: 20px;
			img {
				width: 25px;
				height: 25px;
				margin-right: 20px;
				@media (max-width: 768px) {
					width: 17px;
					height: 17px;
					margin-right: 10px;
				}
			}
			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
	}
	@media (max-width: 768px) {
		margin-bottom: 40px;
	}
}
