.work-areas {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	margin-bottom: 70px;
	h2.title {
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		color: $color-blue;
		text-transform: uppercase;
		margin-bottom: 60px;
		@media (max-width: 768px) {
			font-size: 18px;
			text-align: left;
			margin-bottom: 25px;
		}
	}
	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: -50px;
		li {
			width: calc(100% / 4);
			margin-bottom: 50px;

			img {
				padding: 0 45px;
				margin-bottom: 20px;
			}
			p {
				font-size: 18px;
				text-align: center;
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}
			@media (max-width: 768px) {
				width: calc(50% - 10px);
				margin-bottom: 25px;
				padding-right: 20px;
				img {
					padding: 0;
					margin-bottom: 0;
				}
			}
		}
		@media (max-width: 768px) {
			// justify-content: center;
			margin-right: -20px;
		}
	}
}
