include modules/head.pug
body
	include modules/header.pug

	section.page__container
		.about.global__content
			h1.about__title
				| MarketMe - компания,
				br
				|  в которой любят свою работу
			.about__intro
				.about__intro-item
					| Многолетний опыт в сфере маркетинга и менеджмента международного уровня
				.about__intro-item
					| Знание конъюнктуры рынка, отслеживание трендов и быстрая реакция
					br
					| 					на их изменения
				.about__intro-item
					| Использование новых эффективных инструментов маркетинга
					br
					| 					и собственные ноу-хау
				.about__intro-item
					| Слаженная команда специалистов из разных областей,
					br
					| 					работающая по принципу проектного управления
				.about__intro-item Все это позволяет MarketMe гарантировать Вам лучший результат!
			h2.about__subtitle Ценности и принципы компании
			.about__principles.global__justify-container
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-01.png', width='126')
					h3.about__principle-title
						| Дважды два
						br
						|  не равно четыре
					| 					Специалисты, отвечающие за разные задачи и
					| 					сегменты работы, постоянно находятся в синергии
					| 					друг с другом, поэтому общий результат
					| 					превосходит сумму вложений в проект
					| 					каждого отдела.
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-02.png', width='76')
					h3.about__principle-title
						| Честны, потому что
						br
						| болеем за результат
					| 					Наши аналитики проводят полный аудит Вашего
					| 					бизнеса и показывают, что эффективно, а что нет
					| 					и не приведет к ожидаемому результату, тем
					| 					самым экономя Ваши деньги!
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-03.png', width='76')
					h3.about__principle-title
						| Любим и заботимся
						br
						|  не только о нашем,
						br
						|  но и о Вашем
						| 						клиенте
					| 					Возросшая конверсия, увеличение life time value,
					| 					частоты повторных обращений, цитируемости,
					| 					положительной обратной связи от Ваших клиентов
					| 					во всех точках продаж, увеличение среднего чека,
					| 					снижение стоимости привлечения клиента и самое
					| 					важное - прибыли! Только это показатели
					| 					результата для специалистов MarketMe.
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-04.png', width='72')
					h3.about__principle-title.middle Не учим курицу
					| 					Никто не знает Ваш бизнес лучше Вас. Задавая
					| 					Вам вопросы, мы увидим продукт Вашими глазами
					| 					и направим весь свой опыт и вдохновение, чтобы
					| 					реализовать Ваше видение в полной мере
					| 					и донести до будущего потребителя его ценность
					| 					и исключительность.
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-05.png', width='76')
					h3.about__principle-title
						| Цель первичнее
						br
						|  творчества
					| 					Деньги, деньги и еще раз деньги! Любой бизнес
					| 					создают для того, чтобы зарабатывать! MarketMe
					| 					это как раз про деньги! Меньше слов и красивых
					| 					графиков - больше конкретных действий!
				.about__principle.global__two-col
					img.about__principle-icon(src='images/pictures/about/about-principle-06.png', width='90')
					h3.about__principle-title
						| Используем
						br
						|  весь оркестр
					| 					Отсутствие сильного дирижера и нескольких
					| 					инструментов сильно ухудшает общее звучание
					| 					музыкальной композиции. Со специалистами
					| 					MarketMe музыка Вашего бизнеса будет звучать
					| 					идеально!
			.btn-wrapper
				a.btn-gradient(href='portfolio.html') Смотреть портфолио
	
	include modules/footer.pug
	include modules/script.pug
