include modules/head.pug
body
	include modules/header.pug

	section.page__container
		.case.typography.global__content
			h1.case__h1 Адвокат Мяленков
			p.has-text-align-center.is-style-mm__p-lead Разработка сайта адвокатского кабинета
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p
						| Формирование онлайн канала продаж юридических услуг в рамках ограниченного
						span.Apple-converted-space  
						| бюджета
			h3.has-text-align-center Результаты
			ol.is-style-mm__ol-default
				li
					| ROMI 
					strong 200%
					|  на второй месяц работы рекламы
				li
					| CTR — 
					strong 11.2%
			h3.has-text-align-center Что сделали
			ol.is-style-mm__ol-highlight
				li
					| Провели брифинг с заказчиком: выявили особенности работы и определили стратегическое целеполагание
				li Сформировали техническое задание на сайт и утвердили с заказчиком
				li Предложили 2 варианта структуры сайта
				li Провели экспресс-позиционирование с отстройкой от конкурентов
				li Разработали логотип
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-544(src='http://www.market-me.ru/wp-content/uploads/2020/04/myalenkov.png', alt='', width='230', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/myalenkov.png 1001w, http://www.market-me.ru/wp-content/uploads/2020/04/myalenkov-300x256.png 300w, http://www.market-me.ru/wp-content/uploads/2020/04/myalenkov-768x654.png 768w', sizes='(max-width: 1001px) 100vw, 1001px')
			ol.is-style-mm__ol-highlight(start='6')
				li Предложили 3 варианта стилистического оформления
				li Постранично наполнили сайт уникальными контентом
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-545(src='http://www.market-me.ru/wp-content/uploads/2020/04/www-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/www.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='8')
				li Осуществили подбор целевого домена.
				li
					| Осуществили верстку и выложили готовый сайт в интернет 
					a(href='http://www.yur-uslugi.spb.ru', target='_blank', rel='noreferrer noopener') www.yur-uslugi.spb.ru
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-546(src='http://www.market-me.ru/wp-content/uploads/2020/04/advokat-1024x638.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/advokat-1024x638.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/advokat-300x187.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/advokat-768x479.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/advokat.jpg 1500w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='10')
				li Собрали семантическое ядро по каждой категории услуг
				li Спрогнозировали затраты на контекстную рекламу
				li
					| Запустили контекстную рекламу в Яндекс.Директ и Google Adwords, баннерную рекламу РСЯ
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#advokat') Вернуться в портфолио

	include modules/footer.pug		
	include modules/script.pug
