include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Bouton Shoes
			p.has-text-align-center.is-style-mm__p-lead
				| Репозиционирование розничных магазинов обуви
				| премиального класса в офлайне
			.case__info
				.case__info-title
					| Описание
				.case__info-content
					p
						| Сеть розничных магазинов
						span.Apple-converted-space  
						| премиального класса
						| 						ввиду
						span.Apple-converted-space  
						| изменения принципов потребления и
						| 						активизации
						span.Apple-converted-space  
						| конкурента (ЦУМ СПб) испытывает падение
						| 						продаж
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li Выйти на рынок онлайн продаж
						li Завоевать молодежную аудиторию
						li Диверсифицировать продаж на регионы РФ
						li Повысить узнаваемость бренда магазина
						li
							| Популяризировать потребление европейских брендов обуви, которые любят европейцы для
							| российских потребителей
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li
					| Провели маркетинговое исследование конкурентного окруженияи потребительских трендов
				li Выявили возможные точки отстройки от конкурентов, учитывая целеполагание
				li Определили уникальное торговое предложение
				li Сформулировали 4 гипотезы позиционирования. Помогли заказчикувыбрать оптимальную
				li
					| Предложили 10 вариантов дизайн-концепций фирменного стиля.Клиент выбрал европеизированную
					| стилистику, поддерживающую смысловую нагрузку профиля деятельности компании
			.case__stages
				.case__stage
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/03/logo-1.png')
				.case__stage
					.case__stage-title Промежуточные этапы
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/03/BS-varyanty-36-1024x900.jpg')
				.case__stage
					.case__stage-title Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/03/BS-logo-1-1024x407.jpg')
			ol.is-style-mm__ol-highlight(start='6')
				li Выбрали финальную стилистику. Оформили бренд-бук
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-471(src='http://www.market-me.ru/wp-content/uploads/2020/04/bouton-01-1024x340.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/bouton-01-1024x340.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/bouton-01-300x100.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/bouton-01-768x255.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/bouton-01.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-472(src='http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1-1024x457.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb1.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			figure.wp-block-image.size-large
				img.wp-image-473(src='http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2-1024x457.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/BS-bb2.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='7')
				li
					| Подготовили постранично для интернет магазина визуальный и содержательный контент для десктопа,
					| планшета и мобильной версии
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-474(src='http://www.market-me.ru/wp-content/uploads/2020/04/site-3-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/site-3-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/site-3-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/site-3-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/site-3-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/site-3.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-477(src='http://www.market-me.ru/wp-content/uploads/2019/03/BS1-1024x684.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2019/03/BS1-1024x684.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2019/03/BS1-300x201.jpg 300w, http://www.market-me.ru/wp-content/uploads/2019/03/BS1-768x513.jpg 768w, http://www.market-me.ru/wp-content/uploads/2019/03/BS1.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-476(src='http://www.market-me.ru/wp-content/uploads/2020/04/BS2-1024x682.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/BS2-1024x682.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/BS2-300x200.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/BS2-768x512.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/BS2-1536x1024.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/BS2.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#bouton') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug
