include modules/head.pug
body
	include modules/header.pug
	
	.site_2020
		.page_service__block.branding_page
			section.page_service__presentation
				.page_service__presentation__content
					h1.page_service__title Стратегический маркетинг. Брендинг.
					.page_service__questions
						span Ваша компания работает в B2B сегменте? Основной источник продаж - сарафанное радио? 
						span Маркетинговые шаги в прошлом не дали ожидаемого результата?
					.page_service__description
						| Мы гарантируем, что системный и последовательный маркетинг увеличит ваши продажи 
						span.description_br
							| в 
							span.description_x3
								span X3
							|  раз, а наши
							| 							клиенты
						|  это подтвердят
			section.page_service__destination
				.destination__title
					h2 Зачем нужен бренд?
				.destination__items
					.destination__item
						.destination__item__img
							img(src='images/pictures/brending/destination_img_01_01.jpg', alt='', title='')
						.destination__item__title Для компании:
						.destination__item__list
							ul
								li способ быть заметным в современной высококонкурентной рыночной среде
								li привлечение и удержание покупателей
								li дополнительная ценность Вашего продукта/услуги (добавленная стоимость)
								li увеличение капитализации компании
								li выход на IPO
					.destination__item
						.destination__item__img
							img(src='images/pictures/brending/destination_img_02_01.jpg', alt='', title='')
						.destination__item__title Для клиента:
						.destination__item__list
							ul
								li гарантия стабильности и качества
								li репутация
								li надежность
								li легкость принятия решения о сотрудничестве и первичной покупке
			section.page_service__scheme
				.scheme_content
					.scheme_logo
						| Логотип фирменный стиль
						span ВИЗУАЛЬНАЯ ЧАСТЬ
					.scheme_brand
						| БРЕНД
					.scheme_positioning
						| Позиционирование
						span СОДЕРЖАТЕЛЬНАЯ ЧАСТЬ
			section.page_service__glossary
				.glossary__items
					.glossary__item
						.glossary__img
							img(src='images/pictures/brending/glossary_img_01_01.jpg', alt='', title='')
						.glossary__text
							.glossary__term
								| БРЕНД — то, какие ассоциации 
								span.term_br
									| и чувства
									| вызывает компания,
								|  ее продукты или услуги у человека
							p
								| Считается, что брендинг — это история для розничных компаний, тех, кто работает с
								| физическими лицами. Однако для B2B сегмента: сложнотехнологоческих товаров и услуг с
								| длительным сроком принятия решения о покупке, когда сумма сделки велика, брендинг играет
								| ещё большее значение.
							p
								| Между продавцами и покупателями в сегменте B2B выстраиваются долгосрочные
								| взаимоотношения. Риски здесь выше, в том числе и репутационные. Потеря каждого клиента
								| ощущается сразу. Успешный бизнес в B2B — это бизнес надежный, гарантирующий качество и
								| положительный результат от сотрудничества. А бренд является гарантией репутации
								| компании.
					.glossary__item
						.glossary__img
							img(src='images/pictures/brending/glossary_img_02_01.jpg', alt='', title='')
						.glossary__text
							.glossary__term НЕЙМИНГ — процесс создания имени бренда
							p
								| Нейминг не стоит недооценивать, все помним про «как корабль назовешь…». Имя зависит от
								| того, где и как работает компания, какая у нее целевая аудитория. Кирпичный завод и
								| салон красоты не могут называться одинаково.
							p
								| Имя должно отражать смысл бренда, легко запоминаться, быть благозвучным и вызывать
								| позитивные ассоциации. Для создания такого имени мы проводим тщательный анализ компании,
								| рынка и целевых потребителей. Учитываем лингвистические особенности вариантов имени, их
								| смысловое значение и звучание, насколько легко его воспроизвести.
							p
								| Проверяем выбранное название на юридическую чистоту и тестируем на фокус-группах.
							p Приходите к нам за привлекательным и запоминающимся названием.
					.glossary__item
						.glossary__img
							img(src='images/pictures/brending/glossary_img_03_01.jpg', alt='', title='')
						.glossary__text
							.glossary__term ЛОГОТИП — уникальное графическое начертание имени компании
							p
								| Мы разрабатываем логотипы на основе анализа соответствия конкретной рыночной нише,
								| стратегии компании и современным тенденциям.
							p
								| Если логотип у вас уже есть, то, возможно, ему потребуется редизайн.
								br
								| 								Например, у компании поменялась стратегия развития. Новый логотип будет следовать за
								| 								этими позитивными изменениями, станет их демонстрацией.
							p Скорость смены трендов также влияет на то, как люди воспринимают бренды.
							p
								| Хороший логотип - это не просто стильное и привлекающее внимание изображение, а способ
								| визуально усилить позиционирование компании на рынке и попасть в «top of the mind»
								| клиентов.
					.glossary__item
						.glossary__img
							img(src='images/pictures/brending/glossary_img_04_01.jpg', alt='', title='')
						.glossary__text
							.glossary__term
								| ФИРМЕННЫЙ СТИЛЬ — применение логотипа и фирменных элементов
								| стиля компании на различных носителях, а также руководство 
								span.term_br
									| по их
									| использованию
							p
								| Общая и единая фирменная стилистика очень важна и по статистике способствует увеличению
								| продаж минимум на 30%.
							p
								| Компаниям, у которых есть производство, филиальная сеть или франчайзинг цена ошибки в
								| визуализации крайне высока. Например, если на упаковку нанесут неправильный логотип,
								| неточное название бренда или некорректные подробности акции, то вся партия товара будет
								| считаться бракованной.
							p
								| Руководство по фирменному стилю позволит не допустить таких ошибок и соблюсти единый
								| стандарт в использовании бренд айдентики.
					.glossary__item
						.glossary__img
							img(src='images/pictures/brending/glossary_img_05_01.jpg', alt='', title='')
						.glossary__text
							.glossary__term
								| ПОЗИЦИОНИРОВАНИЕ — суть и обещание бренда, выделяет его
								// span class="term_br"
								| уникальность и конкурентные преимущества
								// /span
							p
								| От этого зависит, какие эмоции и ощущения будет вызывать компания у целевых потребителей.
			section.page_service__positioning
				.page_service__positioning__content
					.positioning_title
						h3
							| Как строится позиционирование
					.positioning_list
						ol
							li
								p Мы смотрим на бизнес в целом и выявляем способы привлечения потребителей
							li
								p Анализируем рынок, компанию, конкурентов
							li
								p
									| Оцениваем эффективность и оптимальность использования каналов коммуникации и саму
									| коммуникацию
							li
								p Проводим бренд-аудит
							li
								p Изучаем и оптимизируем ассортиментный портфель
							li
								p Анализируем эффективность каналов коммуникаций
							li
								p Специалисты разных профилей работают в команде
			section.page_service__illustration
				.illustration_img
					img(src='images/pictures/brending/brand_image_01.jpg', alt='', title='')
			section.page_service__strategy
				.strategy_title
					| Предлагаем стратегию развития, которая ведет к практическим бизнес результатам:
				.strategy_list
					.strategy_item.arrow_up
						p
							| Увеличение продаж 
							span.strategy_br
								| в 
								span Х3
								|  раз
					.strategy_item.arrow_down
						p
							| Снижение стоимости привлечения 
							span.strategy_br клиента
					.strategy_item.arrow_up
						p Рост узнаваемости бренда
					.strategy_item.arrow_up
						p Рост привлекательности продута
					.strategy_item.arrow_up
						p
							| Увеличение 
							span LTV
			section.page_service__request
				include modules/request.pug
				
	include modules/footer.pug
	include modules/script.pug
