include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Chatel
			p.has-text-align-center.is-style-mm__p-lead Брендинг с нуля конфет премиального сегмента  
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li
							| Разработать российский премиальный бренд шоколадных конфет с отстройкой от мирового бренда
							| “Godiva”
						li Разработать премиальную упаковку для корпоративного сегмента 
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Провели экспресс-анализ конкурентного окружения
				li
					| Предложили 20 вариантов наименований, относящих к швейцарскому происхождению конфет
				li Разработали логотип и фирменный стиль
			.case__stages
				.case__stage
					.case__stage-title Варианты предложенных логотипов
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/Chatle-01.jpg')
				.case__stage
					.case__stage-title Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/Chatel_logo.jpg')
			ol.is-style-mm__ol-highlight(start='4')
				li Разработали 3 дизайн-макета фирменной упаковки
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-563(src='http://www.market-me.ru/wp-content/uploads/2020/04/chatel.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/chatel.jpg 800w, http://www.market-me.ru/wp-content/uploads/2020/04/chatel-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/chatel-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/chatel-768x768.jpg 768w', sizes='(max-width: 800px) 100vw, 800px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-564(src='http://www.market-me.ru/wp-content/uploads/2020/04/2-1024x745.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/2-1024x745.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/2-300x218.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/2-768x559.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/2.jpg 1100w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-565(src='http://www.market-me.ru/wp-content/uploads/2020/04/3-1024x799.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/3-1024x799.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/3-300x234.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/3-768x599.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/3.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#chatel') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug