include modules/head.pug
body
	.content
		include modules/header.pug

		main
			h1.visually-hidden Агенство антикризисного маркетинга
			section.complex
				.complex-description
					.container
						h2.title Комплексный подход
						.complex-description__wrapper
							.complex-description__col
								.complex-description__title
									| Комплексный маркетинг — залог увеличения продаж
									| и снижения стоимости привлечения клиента
								.complex-description__text
									p
										| Комплексный подход в маркетинге — это пазл из оптимально подобранных инструментов
										| для продвижения бизнеса в зависимости от его специфики, сегмента, конкурентной
										| среды, изменчивости рынка
									p
										| Эти инструменты связаны между собой, и все они дополняют друг друга. При их
										| совместном использовании возникает эффект синергии
									p
										| Так вы получаете эффективность, которую нельзя добиться, если использовать только
										| один из каналов продвижения
							.complex-description__col
								picture
									source(srcset="images/pictures/complex/1-1440.jpg" media="(max-width: 1440px)")
									source(srcset="images/pictures/complex/1-768.jpg" media="(max-width: 768px)")
									source(srcset="images/pictures/complex/1-700.jpg" media="(max-width: 700px)")
									img(src='images/pictures/complex/1.jpg' alt='')
				.complex-advantages
					.container.container--mode
						.complex-advantages__fill
							p Комплексный маркетинг — это дешевле, чем вы думаете
					.container
						.complex-advantages__list
							h3.complex-advantages__title
								| Целостный подход позволяет сократить расходы на
								| продвижение:
							ul
								li единый процесс управления кампанией по продвижению продукта
								li единый стратегический план кампании
								li единый бюджет кампании
				.complex-about
					.container
						.complex-about__wrapper
							.complex-about__col
								.complex-about__picture
									img(src='images/pictures/2.jpg' alt='')
								h3.complex-about__title Как мы работаем:
								ul
									li
										img(src='images/svg/numbers/1.svg' alt='')
										span Оцениваем бизнес в целом и выявляем «слабые» места, из-за которых вытеряете клиентов
									li
										img(src='images/svg/numbers/2.svg' alt='')
										span Проводим глубокий анализ рынка, конкурентной среды, компании
									li
										img(src='images/svg/numbers/3.svg' alt='')
										span Моделируем воронку продаж, определяем цели и задачи согласно потребностям бизнеса
									li
										img(src='images/svg/numbers/4.svg' alt='')
										span Готовим стратегию продвижения проекта
									li
										img(src='images/svg/numbers/5.svg' alt='')
										span Проводим работы согласно стратегии развития
							.complex-about__col
								.complex-about__picture
									img(src='images/pictures/3.jpg' alt='')
								h3.complex-about__title Что вы получаете:
								ul
									li
										img(src='images/svg/numbers/1.svg' alt='')
										span Отстройку от конкурентов
									li
										img(src='images/svg/numbers/2.svg' alt='')
										span Укрепление позиций на рынке
									li
										img(src='images/svg/numbers/3.svg' alt='')
										span Рост числа постоянных покупателей
									li
										img(src='images/svg/numbers/4.svg' alt='')
										span Доверие целевой аудитории
									li
										img(src='images/svg/numbers/5.svg' alt='')
										span Снижение привлечения стоимости клиента
									li
										img(src='images/svg/numbers/6.svg' alt='')
										span Увеличение продаж
									li
										img(src='images/svg/numbers/7.svg' alt='')
										span Защита от рыночных колебаний
									li
										img(src='images/svg/numbers/8.svg' alt='')
										span овышение узнаваемости бренда
									li
										img(src='images/svg/numbers/9.svg' alt='')
										span Рост капитализации компании
									li
										img(src='images/svg/numbers/10.svg' alt='')
										span Рост среднего чека
				.complex-services
					.container
						h2.title Услуги комплексного маркетинга
						.complex-services__wrapper
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/4.jpg' alt='')
									.alt Разработка платформы бренда
								.complex-services__text
									p
										| Готовим полный перечень отличительных характеристик бренда, на основе которых
										| будут строиться все дальнейшие коммуникации с клиентами
							.complex-services__row
								.complex-services__picture.complex-services__picture--right
									img(src='images/pictures/5.jpg' alt='')
									.alt Нейминг: разработка названия бренда
								.complex-services__text
									p Придумываем название, отражающее концепцию позиционирования бренда.
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/6.jpg' alt='')
									.alt Разработка визуальной идентификации бренда
								.complex-services__text
									p Разрабатываем фирменный стиль бренда (товарный знак, логотип, фирменный блок, фирменные цвета, фирменный комплект шрифтов, образ компании) с учетом позиционирования компании и ее конкурентного окружения.
							.complex-services__row
								.complex-services__picture.complex-services__picture--right
									img(src='images/pictures/7.jpg' alt='')
									.alt Разработка коммуникационной стратегии
								.complex-services__text
									p Определяем комплекс мер воздействия на целевую аудиторию для успешного продвижения на рынке.
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/8.jpg' alt='')
									.alt Разработка медиаплана
								.complex-services__text
									p Создаем план рекламной активности на 3-12 месяцев, разбитый на этапы с примерными бюджетами
							.complex-services__row
								.complex-services__picture.complex-services__picture--right
									img(src='images/pictures/9.jpg' alt='')
									.alt Разработка корпоративной презентации / продукта
								.complex-services__text
									p Создаем содержательную презентацию, которая в наглядной форме рассказывает о преимуществах компании или продукта, для первичного контакта и работы с клиентами
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/10.jpg' alt='')
									.alt Разработка сайта
								.complex-services__text
									p Создаем сайт с рабочим функционалом, интуитивно понятной навигацией, качественным дизайном, удобной формой для обратной связи и возможностью менять ассортимент представленных продуктов
							.complex-services__row
								.complex-services__picture.complex-services__picture--right
									img(src='images/pictures/11.jpg' alt='')
									.alt Разработка стратегии онлайн-продвижения
								.complex-services__text
									p Выбираем и работаем с оптимальным набором каналов для онлайн-продвижения. Готовим тайм-план и контент по рекламным кампаниям.
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/12.jpg' alt='')
									.alt Контекстная реклама
								.complex-services__text
									p Настраиваем и ведем кампании по контекстной рекламе, которые направлены на привлечение конверсионного трафика на сайт
							.complex-services__row
								.complex-services__picture.complex-services__picture--right
									img(src='images/pictures/13.jpg' alt='')
									.alt SEO
								.complex-services__text
									p Оптимизируем любой сайт под SEO, что повышает результаты в органической выдаче и улучшает качество работы контекстной рекламы
							.complex-services__row
								.complex-services__picture.complex-services__picture--left
									img(src='images/pictures/14.jpg' alt='')
									.alt Ведение и продвижение в социальных сетях
								.complex-services__text
									p Мы работаем со всеми социальными сетями, используя все возможные способы размещения рекламы в них: органический посев, таргетинг и ретаргетинг
				include modules/request.pug
				
	include modules/footer.pug
	include modules/script.pug