include modules/head.pug
body
	include modules/header.pug
	
	section.consulting.page__container
		.global__content
			h1.consulting__title Маркетинговый консалтинг
			.consulting__advantages
				.consulting__advantage
					img.consulting__advantage-icon(src='images/pictures/consulting/consulting-advantage-01.png')
					.consulting__advantage-content
						| Маркетинговый консалтинг — консультации от независимых
						| специалистов по вопросам маркетинговой политики компании,
						| которые помогают определить дальнейшее направление
						| развития бизнеса, увеличить продажи, привлечь лояльных
						| клиентов, а также избежать неэффективных действий
						| и финансовых потерь.
				.consulting__advantage
					img.consulting__advantage-icon(src='images/pictures/consulting/consulting-advantage-02.png')
					.consulting__advantage-content
						| Для многих владельцев бизнеса маркетинговый консалтинг —
						| что-то дорогое, непонятное и не отвечающее за результат.
						| Однако, часто компании впустую тратят больше денег при
						| самостоятельном выводе бренда на рынок, чем потратили
						| бы на оплату услуг маркетингового консалтинга.
				.consulting__advantage
					img.consulting__advantage-icon(src='images/pictures/consulting/consulting-advantage-03.png')
					.consulting__advantage-content
						| Мы проводим быструю экспертизу и предлагаем максимально
						| эффективное решение в условиях ограниченного времени
						| и бюджета компании. В основе наших взаимоотношений
						| с заказчиком — получение им реальной помощи.
			.consulting__intro
				h2.consulting__intro-title Что мы делаем:
				.consulting__intro-services.global__justify-container
					.consulting__intro-col.global__two-col
						.consulting__intro-service изучаем деятельность компании
						.consulting__intro-service исследуем рынок
						.consulting__intro-service
							| определяем сильные и слабые
							br
							|  стороны компании и
							| 							конкурентов
							br
							|  анализируем целевую аудиторию
					.consulting__intro-col.global__two-col
						.consulting__intro-service оцениваем возможности и угрозы
						.consulting__intro-service
							| выявляем и создаем конкурентные
							br
							|  преимущества
							| 							бизнеса
						.consulting__intro-service
							| планируем маркетинговую
							br
							|  активность
			.consulting__stages
				h2.consulting__stages-title
					.global__vertical-middle Процесс работы
				.consulting__stage
					| Проводим аудит
					| деятельности компании,
					| создаем стратегический
					| план по сокращению и
					| предупреждению
					| возможных рисков.
				.consulting__stage
					| Готовим стратегию по
					| продвижению компании
					| на рынке, ценовой политике,
					| сбыту продуктов или услуг,
					| расширению ассортимента
					| и общему позиционированию
					| компании на рынке.
				.consulting__stage
					| Работаем над повышением
					| интереса клиентов к компании
					| и эффективными методами
					| взаимодействия с текущими
					| и потенциальными
					| потребителями.
				.consulting__stage
					| Работаем над созданием
					| прибыльной системы
					| дистрибуции.
				.consulting__stage
					| Консультируем персонал.
					| Анализируем структуру
					| компании и эффективность
					| работы сотрудников.
					br
					| 					Выявляем проблемы и
					br
					| 					даем рекомендации
					| 					по их устранению.
				.consulting__stage
					| Работаем над созданием
					| бренда или ребрендинга,
					| даем рекомендации
					| по онлайн- и оффлайн-
					| продвижению
					| компании.
		include modules/request.pug
		
	include modules/footer.pug
	include modules/script.pug