include modules/head.pug
body
	.content
		include modules/header.pug

		main
			h1.visually-hidden Контакты
			// section contacts
			section.contacts
				// write
				.container
					.contacts-write
						h2.title Напишите нам
						.contacts-write__form
							// form
							form(action='get')
								.contacts-write__top
									.contacts-write__inputs
										label(for='name')
											span
												| Представьтесь,
												| пожалуйста*
											input#name(type='text')
										label(for='email')
											span Электронная почта*
											input#email(type='text')
										label(for='phone')
											span Ваш телефон*
											input#phone(type='text')
									.contacts-write__textarea
										label(for='message')
											span
												| Текст
												| сообщения
											textarea#message
								.contacts-write__bottom
									.contacts-write__consent
										input#consent(type='checkbox')
										label(for='consent')
											span
												| Я даю согласие на обработку персональных данных и
												| соглашаюсь с  
												a(href='politica.pdf' target="_blank") 
													| политикой
													| конфиденциальности
								.btn-wrapper
									.btn-gradient.btn-gradient--mode
										input(type='submit' value='Отправить сообщение')

					// call
					.contacts-call.contacts-call--desktop
						.container
							.contacts-call__wrapper
								h2.title Звоните
								.contacts-call__phones
									a(href='tel:88003022728') 8 800 302 27 28
									a(href='tel:+78129091413') +7 812 909 14 13

				// map
				.contacts-map
					.container
						#map.contacts-map__wrapper

						.contacts-map__content
							h2.title Приезжайте
							p 199106, Россия <i class="br"></i> г. Санкт-Петербург Средний пр. В.О. дом 88, литера А <i class="br1"></i>БЦ «Baltis Plaza»<i class="br"></i> 5 этаж, офис 501
				// call
				.contacts-call.contacts-call--planshet
					.container
						.contacts-call__wrapper
							h2.title Звоните
							.contacts-call__phones
								a(href='tel:88003022728') 8 800 302 27 28
								a(href='tel+78129091413') +7 812 909 14 13
	include modules/footer.pug
	include modules/script.pug
