include modules/head.pug
body
	include modules/header.pug
	
	section.page__container.web
		.web__intro
			.global__content
				h1.global__title Разработка сайтов
				.web__facts
					.web__facts-title Несколько фактов:
					.web__facts-inner
						.web__fact
							.web__fact-value
								| 93%
							.web__fact-content
								| называют визуальную составляющую основным фактором, влияющим на их решение о покупке
						.web__fact
							.web__fact-value
								| 42%
							.web__fact-content
								| посетителей основывают своё мнение о сайте на его общем дизайне
						.web__fact
							.web__fact-value
								| 52%
							.web__fact-content
								| не возвратятся на сайт из-за его внешней эстетики
		.web__complexity.global__content
			.web__complexity-highlight.global__highlight Мы делаем сайты любой сложности:
			.web__complexity-types
				.web__complexity-type
					.web__complexity-title Многостраничные сайты
					.web__complexity-content
						.web__complexity-preview
							img(src='images/pictures/development/web-complexity-01.jpg')
						.web__complexity-excerpt
							.web__complexity-label Когда нужно:
							ol.web__complexity-ol.global__ol
								li Компания диверсифицирована и работает в разных сферах и на разных рынках
								li
									| Основной деятельностью компании являются:
									ul.web__complexity-ul.global__ul
										li B2B услуги
										li технологически сложные продукты
										li товары длительным сроком принятия решения о покупке.
								li В случае, когда необходима мультиязычность сайта
							.web__complexity-label Цель:
							| 							Лидогенерация в интернете и поддержка продвижения компании в целом
				.web__complexity-type
					.web__complexity-title Интернет-магазины
					.web__complexity-content
						.web__complexity-preview
							img(src='images/pictures/development/web-complexity-02.jpg')
						.web__complexity-excerpt
							p
								| Многостраничные сайты с каталогом продукции, которые работают как полка в
								| магазине и имеют функцию покупки товара через корзину.
							.web__complexity-label Когда нужно:
							ol.web__complexity-ol.global__ol
								li Количество товаров/услуг, продаваемых онлайн, больше 5 наименований.
								li Товары представлены не только поштучно, но и сгруппированы по категориям.
								li
									| Есть множественные характеристики описания товара, которые заносятся в
									| карточку товара и могут выбираться покупателем в различной комбинации.
								li Необходим фильтр выбора товаров по определенным параметрам.
								li Клиент совершает онлайн покупку
								li Клиент совершает онлайн оплату
							.web__complexity-label Цель:
							| 							Осуществление продаж онлайн и ведение бизнеса электронной коммерции
				.web__complexity-type
					.web__complexity-title Одностраничные сайты
					.web__complexity-content
						.web__complexity-preview
							img(src='images/pictures/development/web-complexity-03.jpg')
						.web__complexity-excerpt
							p Одностраничные сайты, продвигающие моноуслугу или монопродукт
							.web__complexity-label Когда нужно:
							ol.web__complexity-ol.global__ol
								li Для вывода нового продукта на рынок
								li
									| Усиление продвижения одной из услуг или одного из товаров,
									| представленных на основном сайте
								li Когда сильно ограничен бюджет
								li Когда резко ограничены сроки и необходимо быстро привлечь целевой трафик
								li.mode Только, когда представленных товаров или услуг не более 5.
							.web__complexity-label Цель:
							| 							Усиление лидогенерации
				.web__complexity-type
					.web__complexity-title Сайты с CRM системами
					.web__complexity-content
						.web__complexity-preview
							img(src='images/pictures/development/web-complexity-04.jpg')
						.web__complexity-excerpt
							p
								| Сайты, которые интегрируются с CRM-системами и позволяют автоматизировать контроль
								| каналов продвижения и продаж
							.web__complexity-label Когда нужно:
							ol.web__complexity-ol.global__ol
								li Объём входящего трафика клиентов существенный
								li Для продвижения используется несколько онлайн каналов.
								li Работает более, чем 1менеджер по продажам
								li
									| Нужна точная системная аналитика по конверсии каналов продвижения и
									| продаж.
								li Продвигаются сложные услуги или множество товаров/товарных групп.
							.web__complexity-label Цель:
							| 							Увеличение продаж за счёт тщательного автоматизированного контроля на каждом этапе воронки
							| 							продажи
		.global__content
			.web__features
				h2.global__h2 "Встречают по одежке..."
				.global__highlight
					| Ваш сайт - это ваш бизнес
				.web__features-lead
					| Мы учитываем все нюансы вашего бизнеса и предлагаем комплексный подход при создании сайта
				.web__features-inner
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-01.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-01-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| Анализ рынка и конкурентов
						.web__feature-content
							| Изначально мы анализируем рыночную нишу Вашего бизнеса, какие тренды в Вашем сегменте рынка,
							| потребности, каким образом пользователи ищут Ваш товар или услугу. Далее исследуем Ваших
							| конкурентов, определяем лучшие возможности выделиться среди аналогичных продуктов/услуг.
							| Просчитываем риски и выбираем оптимальное решение, всегда помня о ресурсах, возможностях и
							| задачах компании. На основе этих данных мы формируем Ваше уникальное торговое предложение и
							| понимаем, как лучше всего о нем рассказать.
				h2.web__features-title.global__title При создании сайта будут учитываться:
				.web__features-inner
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-02.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-02-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| Юзабилити
						.web__feature-content
							| Максимально удобная навигация. Ваш посетитель всегда будет понимать, где находится, как
							| вернуться обратно и как найти то, что ему нужно. По статистике самое большое количество
							| отказов и уходов с сайта посетителей - это неудобство его использования.
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-03.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-03-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| Визуализация
						.web__feature-content
							| Более 70% людей визуалы: чем привлекательнее картинка, тем дольше она удерживает внимание.
							| Мы создаем визуальный контент, который будет отражать потребность Вашего клиента и
							| предлагать решение его проблемы. Всего 7 секунд человеку требуется, чтобы оценить другого
							| человека, примерно столько же времени посетитель оценивает сайт. И или остается, или уходит.
							| Ваш сайт будет привлекателен для потребителей с
							| первой секунды!
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-04.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-04-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| Продающие тексты
						.web__feature-content
							| Любая информация должна цеплять, иначе посетителю станет не интересно читать, и он уйдет.
							| Наши копирайтеры четко понимают, что нужно Вашему клиенту. Все тексты пишутся, исходя из
							| семантики ниши, и точно отвечают поисковым запросам, тем самым помогают принять решение о
							| покупке (подписке) именно у Вас.
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-05.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-05-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| Мобильная адаптация
						.web__feature-content
							| По статистике, около 70% траффика приходит на сайты с поисковой системы Гугл. Для поисковых
							| систем это один из показателей качества сайта и он влияет на ранжирование в органической
							| выдаче. Ваш сайт будет адаптирован под все мобильные устройства.
					.web__feature
						.web__feature-image
							img.img__desktop(src='images/pictures/development/web-feature-06.jpg')
							
							img.img__mobile(src='images/pictures/development/web-feature-06-mobile.jpg')
							.web__feature-title
								.web__feature-label
									| SEO
						.web__feature-content
							| Ваш сайт будет изначально оптимизирован под SEO. Технические тексты для поисковых машин
							| будут точно отражать самые конверсионные запросы в Яндекс и Гугл.
		.web__result
			.web__result-content.global__content
				| В результате нашей работы Вы получите сайт с уникальным контентом, максимально удобный для пользователя
				| и полностью отвечающий задачам Вашего бизнеса и потребностям Ваших клиентов.
			.btn-wrapper
				a(href="portfolio.html").btn-gradient Смотреть портфолио

			include modules/request.pug
			
	include modules/footer.pug
	include modules/script.pug
