include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 DP Business Club
			p.has-text-align-center.is-style-mm__p-lead
				| Разработка нового логотипа и фирменного стиля для
				| «Клуба «Деловой Петербург»
			.case__info
				.case__info-title
					| Целеполагание
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li Уйти от явного названия «Деловой Петербург»
						li
							| Разработать современный фирменный стиль, поддерживающий позиционирование закрытого клуба
							| успешных предпринимателей
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Предложили 5 дизайн-концепций фирменного стиля
				li Разработали новый логотип
			.case__stages
				.case__stage
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/logo-1.jpg')
				.case__stage
					.case__stage-title Стало
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/DP-business-club_logo.jpg')
			ol.is-style-mm__ol-highlight(start='3')
				li Выявили реальные носители бренда и на основе их собрали бренд-бук
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-529(src='http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-scaled-1024x708.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-scaled-1024x708.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-scaled-300x207.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-768x531.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-scaled-1536x1061.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-4-scaled-2048x1415.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-531(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-scaled-1024x769.jpg', alt='', width='700', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-scaled-1024x769.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-scaled-300x225.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-768x577.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-scaled-1536x1153.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-scaled-2048x1538.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='4')
				li Подготовили все исходные дизайн-макеты к печати и к онлайн оформлению
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-532(src='http://www.market-me.ru/wp-content/uploads/2020/04/frame-1024x772.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/frame-1024x772.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/frame-300x226.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/frame-768x579.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/frame.jpg 1416w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-533(src='http://www.market-me.ru/wp-content/uploads/2020/04/wall-scaled-1024x624.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/wall-scaled-1024x624.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/wall-scaled-300x183.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/wall-768x468.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/wall-scaled-1536x935.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/wall-scaled-2048x1247.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='5')
				li
					| Постранично оформили дизайн сайта 
					a(rel='noreferrer noopener', href='https://www.dp-club.ru', target='_blank') https://www.dp-club.ru
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-534(src='http://www.market-me.ru/wp-content/uploads/2020/04/DP-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DP-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DP-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DP-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DP-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DP.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#dp') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug