include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 DreamGlasses
			p.has-text-align-center.is-style-mm__p-lead Маркетинговая упаковка и продвижение продукта
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p
						| Усилить продажи товарной
						span.Apple-converted-space  
						| категории
			h3.has-text-align-center Результаты
			ol.is-style-mm__ol-default
				li Высокая конверсия в продажи
				li Минимальный расход бюджета 
				li
					| CTR 
					strong 13%
				li Минимальная в сегменте стоимость клика
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Сформировали техническое задание на лэндинг
				li Предложили 2 варианта структуры лэндинга
				li Сформировали уникальное торговое предложение и экспресс-позиционирование
				li Разработали логотип
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-650(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo-1024x106.jpg', alt='', width='450', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo-1024x106.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo-300x31.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo-768x79.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo-1536x158.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_logo.jpg 1590w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='5')
				li Предложили 2 варианта стилистического оформления
				li Разработали дизайн-макет упаковки
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-651(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-scaled-1024x596.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-scaled-1024x596.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-scaled-300x175.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-768x447.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-scaled-1536x894.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-box3-scaled-2048x1192.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='7')
				li Разработали буклет по продуктам
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-652(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-1024x737.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-1024x737.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-300x216.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-768x553.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-1536x1106.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold1-2048x1474.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-653(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-1024x737.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-1024x737.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-300x216.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-768x553.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-1536x1106.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_Trifold2-2048x1474.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='8')
				li Оформили инструкцию по применению
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-654(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction-1024x768.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction-1024x768.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction-300x225.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction-768x576.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction-1536x1152.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG_instruction.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='9')
				li Разработали продающий лэндинг
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-655(src='http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses-1024x716.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DreamGlasses.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='10')
				li
					| Осуществили верстку и выложили готовый сайт на домен Заказчика 
					a(href='http://www.ochki-superson.ru' target="_blank") www.ochki-superson.ru
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-657(src='http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-scaled-1024x696.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-scaled-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-scaled-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-scaled-1536x1045.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/DG-1-scaled-2048x1393.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='11')
				li Собрали семантическое ядро
				li
					| Запустили контекстную рекламу в Яндекс.Директ и Google Adwords, баннерную рекламу РСЯ
				li Разработали систему акций стимулирования сбыта
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#dream') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug