include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Научно-развлекательный комплекс
			p.has-text-align-center.is-style-mm__p-lead Комплексная подготовка инвестиционного проекта
			.produv-action__slider
				ul.slick-slider2
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-01.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-02.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-03.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-04.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-05.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-06.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-07.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-08.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-09.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-10.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-11.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-12.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-13.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-14.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-15.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-16.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-17.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-18.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-19.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-20.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-21.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-22.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-23.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/03/Gazprom-24.jpg', alt='')
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-default
				li Изучили входящую информацию
				li Сформировали дорожную карту работ над инвестиционным проектом
				li Провели микро и макроэкономический анализ
				li Изучили конкурентное окружение
				li Разработали потребительскую модель
				li
					| Сформировали все зоны монетизации и рассчитали их окупаемость с учетом площади, пропускной
					| способности и среднего чека
				li
					| Разработали конкурентную аргументацию для федерального, регионального и местного значения
				li Сформулировали и рассчитали оптимистичную и пессимистичную финансовые модели
				li Рассчитали EBIDTA
				li Подготовили презентацию для инвестора
				li Защитили проект перед инвестором
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#gazprom') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug
