include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Gronin Bureau
			p.has-text-align-center.is-style-mm__p-lead Ребрендинг проектной компании «Институт строительного проектирования GEO Design»
			.case__info
				.case__info-title
					| Предпосылки проекта
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li Проектирование и согласование строительной документации
						li Служба заказчика: полный цикл управления строительством
						li Привлечение финансирования на реализацию проектов
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li Увеличить число крупных заказов и сократить число мелких
						li Увеличить стоимость услуг
						li Сформировать имидж крупной и уважаемой компании
						li Определить число и структуру брендов компании
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li
					| Провели маркетинговое исследование конкурентного окружения и потребительских трендов
				li Выявили возможные точки отстройки от конкурентов, учитывая целеполагание
				li Определили уникальное торговое предложение
				li
					| Сформулировали 3 гипотезы позиционирования. Помогли Заказчику выбрать оптимальную.
				li
					| Общего имени у группы компаний не было. Предложили 20 вариантов наименований. Заказчик выбрал имя
					| для группы компаний, поддерживающее его личную репутацию.
				li
					| Предложили несколько вариантов дизайн-концепций. Клиент выбрал европеизированную стилистику,
					| поддерживающую смысловую нагрузку профиля деятельности компании.
			.case__stages
				.case__stage
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/logo-geo-148-2.png')
				.case__stage
					.case__stage-title Промежуточные варианты
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/gronin-stages-1024x725.jpg')
				.case__stage
					.case__stage-title Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/gronin-logo.jpg')
			ol.is-style-mm__ol-highlight(start='7')
				li Оформили бренд-бук
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-522(src='http://www.market-me.ru/wp-content/uploads/2020/04/doky-3-1024x763.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doky-3-1024x763.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-3-300x224.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-3-768x573.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-3.jpg 1336w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-523(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-scaled-1024x769.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-scaled-1024x769.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-scaled-300x225.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-768x577.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-scaled-1536x1153.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-5-scaled-2048x1538.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-524(src='http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1-1024x457.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb1.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-525(src='http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2-1024x457.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Gronin-bb2.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#gronin') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug