doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content
			include modules/header.pug

			main
				h1.visually-hidden MarketMe B2B маркетинг

				section.index
					.index-save
						picture
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							source(srcset="images/svg/backgrounds/save-buiznes-mobile.svg" media="(max-width: 768px)")
							<!--[if IE 9]></video><![endif]-->
							img(src="images/svg/backgrounds/save-buiznes.svg" alt="")

					.index-calculations
						.index-calculations__bg
							picture
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								source(srcset="images/svg/backgrounds/calculations-mobile.svg" media="(max-width: 768px)")
								<!--[if IE 9]></video><![endif]-->
								img(src="images/svg/backgrounds/calculations.svg" alt="")

						//- ul
						//- 	li
						//- 		span.title 20 лет
						//- 		span практического<br> маркетинга
						//- 	li
						//- 		span.title B2B
						//- 		span технологии
						//- 	li
						//- 		span.title 500%
						//- 		span средний<br> ROMI
						//- 	li
						//- 		span Спасаем по
						//- 		span.title 10 <b>бизнесов</b>
						//- 		span в год
						//- 	li
						//- 		span Прирост продаж
						//- 		span.title <b>в</b> 3 <b>раза</b>
						//- 	li
						//- 		span Работаем с
						//- 		span.title 25 <b class="mode">сегментами</b>
						//- 		span рынка
						.index-calculations__remark
							.container
								span Все сейчас обсуждают организацию удаленного рабочего места, однако, все забывают о том, что надо не только ставить задачи и контролировать персонал в онлайне, но и осуществлять продажи в новом дистанционном формате

					.index-questions
						.container
							ul
								li Ваша компания готова привлекать клиентов в онлайн режиме?
								li Вы знаете, какие инструменты продаж в онлайне будут наиболее быстро конвертируемыми и выгодными именно для вашего сегмента рынка и компании?
								li Ваши менеджеры знают, какие аргументы работают в условиях кризиса? И это отнюдь не дешёвая цена!

					.index-sales
						.container
							.index-sales__wrapper
								.index-sales__picture
									img(src="images/pictures/sales.jpg" alt="")
								.index-sales__content
									span Мы настроим для вашей компании
									span.strong быстрые и эффективные продажи в онлайн

					.index-process
						picture
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							source(srcset="images/svg/backgrounds/process-mobile.svg" media="(max-width: 768px)")
							<!--[if IE 9]></video><![endif]-->
							img(src="images/svg/backgrounds/process.svg" alt="")


					.index-actions
						ul
							li
								p.index-actions__title Разработаем продающий сайт или лэндинг
							li
								p.index-actions__title Запустим контекстную рекламу
							li
								p.index-actions__title Настроим таргетированную рекламу в социальных сетях
							li
								p.index-actions__title Сформируем репутацию в онлайн, которая даст максимальную конверсию

						.index-actions__order
							.container
								.index-actions__order-inner
									span Оставьте заявку на беплатную 30-минутную онлайн консультацию
									.btn-wrapper
										a.btn-gradient.popup1_open#order-btn Оставить заявку

					.index-slider
						// slider
						ul.index-slider__list.slick-slider
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider1.jpg')")
								.index-slider__content
									h3 PRUDOV CONSTRUCTION 
									p Ребрендинг строительной компании с последующим внедрением и комплексным маркетинговым сопровождением на постоянной основе
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider2.jpg')")
								.index-slider__content
									h3 Q-Energy
									p Комплексный ребрендинг электромонтажной компании
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider3.jpg')")
								.index-slider__content
									h3 Gronin Bureau
									p Ребрендинг проектной компании «Институт строительного проектирования GEO Design»
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider4.jpg')")
								.index-slider__content
									h3 DP Business Club
									p Разработка нового логотипа и фирменного стиля для «Клуба «Деловой Петербург»
									a(href="").btn-gradient Смотреть

							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider5.jpg')")
								.index-slider__content
									h3 Tornhoff
									p Маркетинговое развитие проекта с нуля
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider6.jpg')")
								.index-slider__content
									h3 Научно-развлекательный комплекс 
									p Комплексная подготовка инвестиционного проекта
									a(href="").btn-gradient Смотреть

							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider7.jpg')")
								.index-slider__content
									h3 Ligar Wood
									p Брендинг деревообрабатывающего производства
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider8.jpg')")
								.index-slider__content
									h3 Telecom 5
									p Ребрендинг компании, принадлежащей Ростелеком и Сбербанку
									a(href="").btn-gradient Смотреть

							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider9.jpg')")
								.index-slider__content
									h3 Индустриальный парк «Марьино»
									p Формирование рекламной стратегии индустриального парка и запуск контекстной рекламы по продаже участков промышленного назначения
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider10.jpg')")
								.index-slider__content
									h3 Kibbler
									p Разработка фирменного буклета по продажам
									a(href="").btn-gradient Смотреть

							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider11.jpg')")
								.index-slider__content
									h3 Smart Price
									p Подготовка инвестиционной презентации
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider12.jpg')")
								.index-slider__content
									h3 Кухни
									p Разработка лэндинга по группе товаров «кухни» для  интернет магазина дешёвой мебели
									a(href="").btn-gradient Смотреть

							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider13.jpg')")
								.index-slider__content
									h3 Адвокат Мяленков
									p Разработка сайта адвокатского кабинета
									a(href="").btn-gradient Смотреть
							// item-slider
							li.index-slider__item
								.index-slider__picture(style="background-image:url('images/pictures/index/item-slider14.jpg')")
								.index-slider__content
									h3 Bouton Shoes
									p Репозиционирование розничных магазинов обуви премиального класса в офлайне
									a(href="").btn-gradient Смотреть



		include modules/footer.pug
		include modules/modal-order.pug
		//- include modules/menu-mobile.pug
		include modules/script.pug