include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Кухни
			p.has-text-align-center.is-style-mm__p-lead
				| Разработка лэндинга по группе товаров «кухни» для
				| интернет магазина дешёвой мебели
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					p
						| Усилить онлайн
						span.Apple-converted-space  
						| продажи товарной категории
						span.Apple-converted-space  
						| «кухни» при минимально возможном бюджете
			h3.has-text-align-center  Результаты
			ol.is-style-mm__ol-default
				li Уникальный по объему информации одностраничный сайт
				li Высокая конверсия в продажи
				li Минимальный расход бюджета
				li
					| Максимальный результат в продажах в кратчайшие сроки ROMI в первый рекламный месяц составил 400% CTR
					| 24,86%
				li Минимальная в сегменте стоимость клика
			h3.has-text-align-center  Что мы сделали
			ol.is-style-mm__ol-highlight.highlight-3
				li Сформировали техническое задание на лэндинг
				li Предложили 2 варианта структуры лэндинга
				li
					| За счёт оптимальной структуры решили уникальную задачу размещения на одной странице большого
					| количества товаров
				li Сформировали уникальное торговое предложение и экспресс-позиционирование
				li Разработали логотип
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-538(src='http://www.market-me.ru/wp-content/uploads/2020/04/Kuhni_logo.png', alt='', width='500', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Kuhni_logo.png 1001w, http://www.market-me.ru/wp-content/uploads/2020/04/Kuhni_logo-300x54.png 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Kuhni_logo-768x139.png 768w', sizes='(max-width: 1001px) 100vw, 1001px')
			ol.is-style-mm__ol-highlight(start='6')
				li Предложили 2 варианта стилистического оформления
				li Произвели отстройку от конкурентов и наполнили сайт уникальными контентом
				li Заполнили карточки товаров
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-539(src='http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-1024x636.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-1024x636.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-300x186.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-768x477.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-1536x954.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens.jpg 1584w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='9')
				li
					| Осуществили верстку и выложили готовый сайт на домен Заказчика 
					a(href='http://модульные-кухни.рус', target='_blank', rel='noreferrer noopener') модульные-кухни.рус
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-540(src='http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/kitchens-2.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='10')
				li Собрали семантическое ядро
				li
					| Запустили контекстную рекламу в Яндекс.Директ и Google Adwords, баннерную рекламу РСЯ
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#kuxni') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug
