include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Ligar Wood
			p.has-text-align-center.is-style-mm__p-lead Брендинг деревообрабатывающего производства
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Проанализировали конкурентов
				li Рекомендовали заказчику сменить имя
				li
					| Предложили шорт-лит из 20 наименований. Было выбрано уникальное в мире имя, сочетающее в себе с
					| одной стороны наименование самого быстрого житного в мире, с другой -закодированное имя и фамилия
					| собственника бизнеса
				li Предложили 5 вариантов фирменного стиля
			.case__stages
				.case__stage.case__stage-large
					.case__stage-title Промежуточные варианты
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/03/LigarWood_var-1024x621.jpg')
				.case__stage
					.case__stage-title Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/03/LigarWood_logo-1.jpg')
			ol.is-style-mm__ol-highlight(start='5')
				li Разработали бренд-бук согласно выбранной дизайн-концепции
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-357(src='http://www.market-me.ru/wp-content/uploads/2020/04/doky-1024x652.jpg', alt='', width='700', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doky-1024x652.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-300x191.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-768x489.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doky.jpg 1400w', sizes='(max-width: 1024px) 100vw, 1024px')
			figure.wp-block-image.size-large
				img.wp-image-358(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-scaled-1024x696.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-scaled-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-scaled-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-scaled-1536x1045.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-scaled-2048x1393.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-359(src='http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1-1024x457.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb1.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-360(src='http://www.market-me.ru/wp-content/uploads/2020/04/Ligar-bb2-1024x457.jpg', alt='', width='800', height='343')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-361(src='http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Ligar1.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#ligar') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug