include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Мебельный берег
			p.has-text-align-center.is-style-mm__p-lead Ребрендинг интернет магазина недорогой мебели
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p
						| Определить конкурентное позиционирование в соответствии с актуальными тенденциями мебельного
						| рынка
			h3.has-text-align-center
				strong Что мы сделали
			ol.is-style-mm__ol-highlight
				li Провели конкурентный анализ
				li Сформировали 3 гипотезы позиционирования
				li Определили долгосрочную стратегию компании, в соответствии с которой выбрали УТП
				li
					| Выявили аргументы и сформулировали конкурентные преимущества для различных целевых аудиторий
				li
					| Предложили 5 вариантов дизайн-концепций для обновления фирменного стиля с учетом УТП
			.case__stages
				.case__stage.case__stage-large
					.case__stage-title Варианты предложенных логотипов
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/mb-03-1024x761.jpg')
				.case__stage
					.case__stage-title Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/mb-01-1024x724.jpg')
			ol.is-style-mm__ol-highlight(start='8')
				li Разработали бренд-бук
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-627(src='http://www.market-me.ru/wp-content/uploads/2020/04/mb-02-1024x690.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/mb-02-1024x690.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/mb-02-300x202.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/mb-02-768x517.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/mb-02-1536x1034.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/mb-02.jpg 1773w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-628(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-1024x762.jpg', alt='', width='700', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-1024x762.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-300x223.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-768x572.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-1536x1144.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-MB-2048x1525.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-629(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-scaled-1024x769.jpg', alt='', width='700', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-scaled-1024x769.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-scaled-300x225.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-768x577.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-scaled-1536x1153.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure1-1-scaled-2048x1538.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='7')
				li
					| Ведём контекстную рекламу на старый сайт (до ребрендинга). CTR — 
					strong 13%
					| . ROMI
					strong 300%
					| .
				li В разработке новый сайт, поддерживающий позиционирование
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-630(src='http://www.market-me.ru/wp-content/uploads/2020/04/MB-1024x671.jpg', alt='', width='600', height='524')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#mebel') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug