include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.portfolio.global__content
			.portfolio__header
				h1.portfolio__h1.plain Портфолио
				.portfolio__cases.global__justify-container
					a#produv.portfolio__case(href='prudov-construction.html', data-types='all identity rebranding naming positioning brand-book')
						img(src='images/pictures/portfolio/Prudov-site-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Prudov Construction
					a#energy.portfolio__case(href='q-energy.html', data-types='all')
						img(src='images/pictures/portfolio/Q-Energy-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Q-Energy
					a#gronin.portfolio__case(href='gronin-bureau.html', data-types='all')
						img(src='images/pictures/portfolio/gronin-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Gronin Bureau
					a#sea.portfolio__case(href='sea-element.html', data-types='all')
						img(src='images/pictures/portfolio/SeaElement-scaled-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Sea Element
					a#dp.portfolio__case(href='dp-business-club.html', data-types='all')
						img(src='images/pictures/portfolio/DP1-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle DP Business Club
					a#tornhoff.portfolio__case(href='tornhoff.html', data-types='all')
						img(src='images/pictures/portfolio/Tornhoff-preview-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Tornhoff
					a#gazprom.portfolio__case(href='gazprom.html', data-types='all presentations')
						img(src='images/pictures/portfolio/kompleks-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Научно-развлекательный комплекс
					a#ligar.portfolio__case(href='ligar-wood.html', data-types='all identity naming brand-book')
						img(src='images/pictures/portfolio/ligar-1-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Ligar Wood
					a#telecom.portfolio__case(href='telecom-5.html', data-types='all identity positioning brand-book')
						img(src='images/pictures/portfolio/telekom-1-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Telecom 5
					a#pkm.portfolio__case(href='rkm.html', data-types='all')
						img(src='images/pictures/portfolio/PKM-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle РКМ
					a#marino.portfolio__case(href='industrialnyj-park-marino.html', data-types='all polygraphy')
						img(src='images/pictures/portfolio/maryino-1-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Индустриальный парк «Марьино»
					a#kibbler.portfolio__case(href='kibbler.html', data-types='all presentations')
						img(src='images/pictures/portfolio/kibbler-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Kibbler
					a#smart.portfolio__case(href='smart-price.html', data-types='all presentations')
						img(src='images/pictures/portfolio/SmartPrice-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Smart Price
					a#urban.portfolio__case(href='urban-eat-club.html', data-types='all')
						img(src='images/pictures/portfolio/UEC-preview.jpg')
						.portfolio__case-inner
							.global__vertical-middle Urban Eat Club
					a#advokat.portfolio__case(href='advokat-myalenkov.html', data-types='all')
						img(src='images/pictures/portfolio/myalenkov-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Адвокат Мяленков
					a#kuxni.portfolio__case(href='kuxni.html', data-types='all')
						img(src='images/pictures/portfolio/kitchens-preview-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Кухни
					a#dream.portfolio__case(href='dreamglasses.html', data-types='all')
						img(src='images/pictures/portfolio/DreamGlasses-preview-scaled-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle DreamGlasses
					a#mebel.portfolio__case(href='mebelnyj-bereg.html', data-types='all')
						img(src='images/pictures/portfolio/MB-preview-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Мебельный берег
					a#bouton.portfolio__case(href='bouton-shoes.html', data-types='all identity rebranding positioning brand-book')
						img(src='images/pictures/portfolio/bouton-2-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Bouton Shoes
					a#chatel.portfolio__case(href='chatel.html', data-types='all')
						img(src='images/pictures/portfolio/chatel-2-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Chatel
					a#watermin.portfolio__case(href='watermin.html', data-types='all')
						img(src='images/pictures/portfolio/WATERMIN-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Watermin
					a#tsvetomaniya.portfolio__case(href='tsvetomaniya.html', data-types='all')
						img(src='images/pictures/portfolio/TSVETOMANYA-560x560.jpg')
						.portfolio__case-inner
							.global__vertical-middle Цветомания
					span.portfolio__case-gap
	include modules/footer.pug
	include modules/script.pug