include modules/head.pug
body
	include modules/header.pug
	
	section.page__container.web
		.global__content
			h1.global__title Создание презентаций
			.presentations__lead
				| Не все компании уделяют должного внимания своим презентациям,
				| меж тем, &nbsp;- это один из мощнейших инструментов маркетинга и продаж
			.presentations__excerpt
				.presentations__excerpt-content
					h2.presentations__excerpt-h2.global__h2
						| Презентация -это Ваш помощник в продаже идеи,
						| товара, услуги
					.presentations__excerpt-lead
						| Важно сделать качественную презентацию, помогающую и убеждающую ее целевую аудитории принять
						| правильное решение
					.presentations__excerpt-info
						img(src='images/svg/nb.svg')
						div
							| Большинство людей воспринимают информацию глазами, поэтому один текст или голос не дадут
							| нужного эффекта, но в совокупности, чем и является презентация, эффект восприятия информации
							| увеличивается в разы
				.presentations__excerpt-image
					picture
						source(srcset="images/pictures/presentations/presentations-excerpt.jpg" media="(max-width: 700px)")
						source(srcset="images/pictures/presentations/presentations-excerpt-768.jpg" media="(max-width: 768px)")
						source(srcset="images/pictures/presentations/presentations-excerpt-1440.jpg" media="(max-width: 1440px)")
						img(src='images/pictures/presentations/presentations-excerpt.jpg')
		.global__content.global__content--mode
			.presentations__features
				.presentations__features-title.presentations__highlight.global__highlight
					| Виды презентаций, которые мы готовы для вас разработать
		.global__content
			.presentations__feature.web__feature
				.presentations__feature-image.web__feature-image
					img.global__desktop(src='images/pictures/presentations/presentations-info-01.jpg')
					img.global__mobile(src='images/pictures/presentations/presentations-info-01-mobile.jpg')
					.web__feature-title
						.web__feature-label
							| Презентация для спикера/выступления докладчика
				.web__feature-content
					.web__feature-info
						.web__feature-lead Цель
						.web__feature-excerpt
							| Яркий ёмкий визуальный ряд, привлекающий внимание и
							| раскрывающий суть текста говорящего
					.web__feature-info
						.web__feature-lead Особенность
						.web__feature-excerpt
							| Практически полное отсутствие текста в самих слайдах,
							| акцент –
							| на яркие и ёмкие графические решения, поддерживающие содержание выступления спикера
					.web__feature-info
						.web__feature-lead Применение
						.web__feature-excerpt Для представления на экранах
			.presentations__feature.web__feature
				.presentations__feature-image.web__feature-image
					img.global__desktop(src='images/pictures/presentations/presentations-info-02.jpg')
					img.global__mobile(src='images/pictures/presentations/presentations-info-02-mobile.jpg')
					.web__feature-title
						.web__feature-label
							| Корпоративная презентация
				.web__feature-content
					.web__feature-info
						.web__feature-lead Цель
						.web__feature-excerpt
							| В наглядной форме рассказать о компании, ее истории,
							| достижениях и конкурентных преимуществах
					.web__feature-info
						.web__feature-lead Особенность
						.web__feature-excerpt
							| Презентация должна содержать оптимальную комбинацию
							| текста и графики и при этом быть легкой и запоминающейся
					.web__feature-info
						.web__feature-lead Применение
						.web__feature-excerpt
							| Для отправки по электронной почте/в мессенджере, для
							| печати
			.presentations__feature.web__feature
				.presentations__feature-image.web__feature-image
					img.global__desktop(src='images/pictures/presentations/presentations-info-03.jpg')
					img.global__mobile(src='images/pictures/presentations/presentations-info-03-mobile.jpg')
					.web__feature-title
						.web__feature-label
							| Презентация проекта/продукта
				.web__feature-content
					.web__feature-info
						.web__feature-lead Цель
						.web__feature-excerpt
							| Рассеять неизвестность перед аудиторией, быть понятным,
							| убедить участников и инвесторов, вложить в контент аргументацию, подкрепить фактами и
							| цифрами
					.web__feature-info
						.web__feature-lead Особенность
						.web__feature-excerpt
							| Яркий привлекательный дизайн, максимально содержательный,
							| но краткий контент
					.web__feature-info
						.web__feature-lead Применение
						.web__feature-excerpt
							| Для представления на экране, для отправки по электронной
							| почте, для печати
			h2.global__title Инвестиционная презентация
			.presentations__innovation
				.presentations__innovation-image
					img.global__desktop(src='images/pictures/presentations/presentations-info-04.jpg')
					img.global__mobile(src='images/pictures/presentations/presentations-info-04-mobile.jpg')
				.presentations__innovation-content
					.presentations__innovation-info
						.presentations__innovation-lead Цель
						| 						Привлечь инвестиционное финансирование для старт-ап проекта или
						| 						для выхода существующего бизнеса на новый масштаб деятельности
					.presentations__innovation-info
						.presentations__innovation-lead Особенность
						| 						Необходима подача информации с 3-х сторон:
						br
						| 						1. Демонстрация принципов работы бизнес-модели, особенностей
						| 						продукта/услуги, конкурентного окружения
						br
						| 						2. Расчет инвестиционной привлекательности и сроков окупаемости
						| 						проекта
						br
						| 						3. Расчет финансовой модели проекта
					.presentations__innovation-info
						.presentations__innovation-lead Применение
						| 						Устная или письменная презентация на инвестиционных мероприятиях, для венчурных фондов, на
						| 						start-up show, для частных инвесторов
		.global__content.global__content--mode
			.presentations__complex-title.presentations__highlight.global__highlight
				| При создании презентации мы применяем комплексный подход
		.global__content
			.presentations__complex
				.presentations__complex-item.presentations__complex-item--1
					.presentations__complex-label
						| Создание концепции и структуры
					| 					На основе анализа исходных данных мы разрабатываем стратегию и структуру Вашей презентации, создаем
					| 					ментальную карту, приводящую Вашу аудиторию к нужным выводам и умозаключениям
				.presentations__complex-item.presentations__complex-item--2
					.presentations__complex-label
						| Дизайн/ оформление презентации
					| 					Современный уникальный дизайн Вашей презентации будет упрощать восприятие информации и поддерживать
					| 					внутреннее содержание
				.presentations__complex-item.presentations__complex-item--3
					.presentations__complex-label
						| Наполнение контентом
					| 					Оптимизируем тексты и визуальный ряд презентации под конкретные задачи. Наполним презентацию
					| 					эмоциями, сделав ее интересной для аудитории и точно отвечающей ее нуждам
		.presentations__portfolio-content
			#presentations__portfolio.presentations__portfolio-wrap
				.global__content
					//- h2.global__h2 В MarketMe считают, что хорошая презентация сама продает
					h2.global__h2#slider-presentation В MarketMe считают, что хорошая презентация сама продает
				.presentations__portfolio.global__content.global__justify-container
					.presentations__slider.owl-carousel.owl-theme
						.presentations__portfolio-item(data-target='#portfolio-section-11')
							img(src='images/pictures/presentations/prudov_pres-1.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-07')
							img(src='images/pictures/presentations/kibbler.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-08')
							img(src='images/pictures/presentations/gazpom_pres-560x560.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-09')
							img(src='images/pictures/presentations/SmartPrice.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-05')
							img(src='images/pictures/presentations/maryino.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-01')
							img(src='images/pictures/presentations/presentations-portfolio-01.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-02')
							img(src='images/pictures/presentations/presentations-portfolio-02.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-06')
							img(src='images/pictures/presentations/presentations-portfolio-06.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-12')
							img(src='images/pictures/presentations/SEUS.jpg')
						.presentations__portfolio-item(data-target='#portfolio-section-13')
							img(src='images/pictures/presentations/Spirtman.jpg')
					#portfolio-section-05.presentations__portfolio-section
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino01.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino02.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino03.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino04.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino05.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino06.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino07.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino08.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino09.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino10.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino11.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino12.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino13.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino14.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino15.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino16.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino17.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino18.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/05/maryino19.jpg')
					#portfolio-section-07.presentations__portfolio-section
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler1.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler2.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler3.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler4.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler5.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler6.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler7.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler8.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler9.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler10.jpg')
						img(rel='portfolio-section-05', data-src='images/pictures/presentations/02/kibbler11.jpg')
					#portfolio-section-01.presentations__portfolio-section
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek1.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek2.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek3.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek4.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek5.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek6.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek7.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek8.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek9.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek10.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek11.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek12.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek13.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek14.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek15.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek16.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek17.jpg')
						img(rel='portfolio-section-01', data-src='images/pictures/presentations/06/primatek18.jpg')
					#portfolio-section-11.presentations__portfolio-section
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-19.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-02.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-03.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-04.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-05.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-06.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-07.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-08.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-09.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-10.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-11.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-12.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-13.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-14.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-15.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-16.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-17.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-18.jpg')
						img(rel='portfolio-section-11', data-src='images/pictures/presentations/01/PRUDOV-Construction-19.jpg')
					#portfolio-section-02.presentations__portfolio-section
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus1.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus2.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus3.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus4.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus5.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus6.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus7.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus8.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus9.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus10.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus11.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus12.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus13.jpg')
						img(rel='portfolio-section-02', data-src='images/pictures/presentations/07/kursus14.jpg')
					#portfolio-section-06.presentations__portfolio-section
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall1.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall2.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall3.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall4.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall5.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall6.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall7.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall8.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall9.jpg')
						img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall10.jpg')
						//- img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall11.jpg')
						//- img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall12.jpg')
						//- img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall13.jpg')
						//- img(rel='portfolio-section-06', data-src='images/pictures/presentations/08/designhall14.jpg')
					#portfolio-section-08.presentations__portfolio-section
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-01.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-02.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-03.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-04.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-05.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-06.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-07.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-08.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-09.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-10.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-11.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-12.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-13.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-14.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-15.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-16.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-17.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-19.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-20.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-21.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-22.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-23.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-24.jpg')
						img(rel='portfolio-section-08', data-src='images/pictures/presentations/03/Gazprom-25.jpg')
					#portfolio-section-09.presentations__portfolio-section
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-01.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-02.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-03.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-04.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-05.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-06.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-07.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-11.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-12.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-13.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-14.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-15.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-17.jpg')
						img(rel='portfolio-section-09', data-src='images/pictures/presentations/04/SmartPrice_presentation-18.jpg')
					#portfolio-section-12.presentations__portfolio-section
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-01.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-02.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-03.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-04.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-05.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-06.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-07.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-08.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-09.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-10.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-11.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-12.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-13.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-14.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-15.jpg')
						img(rel='portfolio-section-12', data-src='images/pictures/presentations/09/SEUS_pres-16.jpg')
					#portfolio-section-13.presentations__portfolio-section
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-01.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-02.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-03.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-04.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-05.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-06.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-07.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-08.jpg')
						img(rel='portfolio-section-13', data-src='images/pictures/presentations/10/Spirtman-09.jpg')

		include modules/request.pug
		
	include modules/footer.pug
	include modules/script.pug