include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 РКМ
			p.has-text-align-center.is-style-mm__p-lead
				| Разработка фирменного стиля  для компании
				| фасадного  остекления промышленных объектов
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p Усилить позиционирование компании в сегмент промышленного остекления
			.case__info
				.case__info-title
					| Условие
				.case__info-content
					p Сохранить историческое имя «РКМ»
			h3.has-text-align-center Что мы сделали
			p
			ol.is-style-mm__ol-highlight
				li Провели конкурентный анализ
				li Сформулировали экспресс-позиционирование
				li
					| Предложили 9 дизайн-концепций фирменного стиля на примере базовых носителей. Заказчик выбрал
					| вариант дизайн-концепции
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-571(src='http://www.market-me.ru/wp-content/uploads/2020/04/PKM_logo-1024x410.jpg', alt='', width='350', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/PKM_logo-1024x410.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM_logo-300x120.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM_logo-768x307.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM_logo.jpg 1039w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-572(src='http://www.market-me.ru/wp-content/uploads/2020/04/doky-5-1024x690.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doky-5-1024x690.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-5-300x202.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-5-768x518.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doky-5.jpg 1341w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-573(src='http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1-1024x1024.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1-1024x1024.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1-768x768.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/PKM-1.jpg 1297w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-574(src='http://www.market-me.ru/wp-content/uploads/2020/04/site-4-1024x648.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/site-4-1024x648.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/site-4-300x190.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/site-4-768x486.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/site-4-1536x972.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/site-4.jpg 1676w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='4')
				li Разработали руководство  по использованию фирменного стиля
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-577(src='http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1-1024x457.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ1.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-578(src='http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2-1024x457.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/РКМ2.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#pkm') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug
