include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Sea Element
			p.has-text-align-center.is-style-mm__p-lead Брендинг финской логистической компании
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					ol
						li Сформировать репутацию компании на целевых рынках
						li
							| Повысить узнаваемость бренда
							span.Apple-converted-space  
						li
							| Внедрить онлайн канал продаж
							span.Apple-converted-space  
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Провели экспресс-позиционирование ввиду ограниченного времени и бюджета 
				li
					| Сформировали уникальное торговое предложение и перечень отличительных конкурентных преимуществ
				li Разработали фирменный стиль, поддерживающий репутацию компании 
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-552(src='http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement_logo.jpg', alt='', width='358', height='99', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement_logo.jpg 591w, http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement_logo-300x84.jpg 300w', sizes='(max-width: 358px) 100vw, 358px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-553(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki-scaled-1024x693.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki-scaled-1024x693.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki-scaled-300x203.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki-768x520.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki-scaled-1536x1040.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/doki-scaled-2048x1386.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-554(src='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-scaled-1024x769.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-scaled-1024x769.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-scaled-300x225.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-768x577.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-scaled-1536x1153.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Brochure-6-scaled-2048x1538.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='4')
				li Подготовили руководство по использованию фирменного стиля 
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-555(src='http://www.market-me.ru/wp-content/uploads/2020/04/Sea1-1024x457.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Sea1-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea1-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea1-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea1-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea1.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-556(src='http://www.market-me.ru/wp-content/uploads/2020/04/Sea2-1024x457.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Sea2-1024x457.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea2-300x134.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea2-768x343.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea2-1536x685.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea2.jpg 2000w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='5')
				li
					| Разработали сайт для продвижения услуг компании в онлайне 
					a(href='https://www.seaelement.fi', target='_blank', rel='noreferrer noopener') www.seaelement.fi
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-557(src='http://www.market-me.ru/wp-content/uploads/2020/04/Sea-1024x716.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Sea-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Sea.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-558(src='http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1-1024x685.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1-1024x685.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1-300x201.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1-768x514.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1-1536x1028.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/SeaElement1.jpg 1662w', sizes='(max-width: 1024px) 100vw, 1024px')
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#sea') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug