include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Smart Price
			p.has-text-align-center.is-style-mm__p-intro.is-style-mm__p-lead
				| Подготовка инвестиционной
				| презентации
			.produv-action__slider
				ul.slick-slider2
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-01.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-02.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-03.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-04.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-05.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-06.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-07.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-11.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-12.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-13.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-14.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-15.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-16.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-17.jpg', alt='')
					li.produv-action__slider-item
						img(src='images/pictures/presentations/04/SmartPrice_presentation-18.jpg', alt='')
			h3.has-text-align-center Что мы сделали
			ol.is-style-default
				li Разработали структуру презентации
				li Оптимизировали  контент
				li Написали продающие тексты
				li Разработали логотип
			.case__stages
				.case__stage
					.case__stage-title Промежуточные варианты
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/07/SmartPrice_var-19.jpg')
				.case__stage
					.case__stage-title  Итог
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2019/07/SmartPrice_logo-20.jpg')
			ol.is-style-mm__ol-default(start='5')
				li Разработали фирменный стиль
				li Оформили презентацию для инвестора
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#smart') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug
