include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Tornhoff
			p.has-text-align-center.is-style-mm__p-lead Маркетинговое развитие проекта с нуля
			.case__info
				.case__info-title
					| Цели
				.case__info-content
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li
							| Разработать конкурентноспособную линейку немецких дверей на базе российского производства
						li
							| Создать и вывести на рынок бренд межкомнатных дверей, отстроившись от итальянских
							| премиальных бредов
						li Построить и систематизировать отдел продаж
			h3.has-text-align-center Результаты
			ol.is-style-mm__ol-default
				li
					| CTR — 
					strong 33%
				li
					strong ROMI 700% 
					| за первые 3 месяца продаж посредством контекстной рекламы
			h3.has-text-align-center  Что мы сделали
			ol.is-style-mm__ol-highlight
				li Исследовали потенциальный спрос
				li
					| Разработали ассортиментный ряд продукции, опираясьна производственные возможности компании
				li Проанализировали рынок конкурентов
				li
					| Придумали имя, отсылающее к европейскому производству
					br
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-495(src='http://www.market-me.ru/wp-content/uploads/2020/04/logo.jpg', alt='', width='200', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/logo.jpg 930w, http://www.market-me.ru/wp-content/uploads/2020/04/logo-300x209.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/logo-768x534.jpg 768w', sizes='(max-width: 930px) 100vw, 930px')
			ol.is-style-mm__ol-highlight(start='5')
				li Сформировали систему наименования моделей ассортимента
				li Разработали политику ценообразования
				li Сформулировали конкурентные преимущества
				li
					| Разработали несколько вариантов стилизации и оформления каталога и интернет-магазина
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-496(src='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-scaled-1024x396.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-scaled-1024x396.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-scaled-300x116.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-768x297.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-scaled-1536x594.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-scaled-2048x792.jpg 2048w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-497(src='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff1-1024x333.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff1-1024x333.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff1-300x98.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff1-768x250.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff1.jpg 1499w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='9')
				li Отрисовали дизайны интерьеров с межкомнатными дверями и перегородками
			.wp-block-image
				figure.aligncenter.size-large
					img.wp-image-499(src='http://www.market-me.ru/wp-content/uploads/2020/04/tornhoff-01-1024x383.jpg', alt='', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/tornhoff-01-1024x383.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/tornhoff-01-300x112.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/tornhoff-01-768x287.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/tornhoff-01.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='10')
				li
					| Разработали уникальный продающий сайт (в офлайне нет ни одного шоурума) 
					a(href='http://www.tornhoff.com/') http://www.tornhoff.com/
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-501(src='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site-1024x716.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site-1024x716.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site-300x210.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site-768x537.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site-1536x1074.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff-site.jpg 1600w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-502(src='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4-1024x636.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4-1024x636.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4-300x186.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4-768x477.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4-1536x954.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Tornhoff4.jpg 1584w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='11')
				li Сформировали семантическое ядро
				li Запустили контекстную рекламную компанию в Яндекс и Гугл
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#tornhoff') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug