include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Цветомания
			p.has-text-align-center.is-style-mm__p-lead Рестайлинг фирменного стиля
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p Обновить логотип и фирменный стиль компании, с учетом следующих условий:
					p  
					ol.rich-text.block-editor-rich-text__editable.is-style-mm__ol-green(role='textbox', contenteditable='true', aria-multiline='true', aria-label='Составить список...')
						li Улучшить однозначность прочтения и восприятия в качестве магазина цветов
						li Осовременить стилистическое решение, сохранив доступное позиционирование
						li Предложить варианты с сохранением базовой цветовой гаммы
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Предложили обновленные логотипы с сохранением основной цветовой гаммы
			.case__stages
				.case__stage
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-лого-1024x127.jpg')
				.case__stage
					.case__stage-title Новые варианты
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-процесс-699x1024.jpg')
			ol.is-style-mm__ol-highlight(start='2')
				li Предложили 5 вариантов дизайн-концепций
			ol.is-style-mm__ol-green
				li
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-582(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki1-1024x696.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki1-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki1-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki1-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki1.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-583(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-01-1024x310.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-01-1024x310.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-01-300x91.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-01-768x232.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-01.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-584(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-01.jpg', alt='', width='400', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-01.jpg 1000w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-01-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-01-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-01-768x768.jpg 768w', sizes='(max-width: 1000px) 100vw, 1000px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-585(src='http://www.market-me.ru/wp-content/uploads/2020/04/www1-1024x758.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www1-1024x758.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www1-300x222.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www1-768x568.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www1.jpg 1285w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol(start='2')
				li ﻿
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-586(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki2-1024x696.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki2-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki2-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki2-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki2.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-587(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-02-1024x310.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-02-1024x310.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-02-300x91.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-02-768x233.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-02.jpg 1400w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-588(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-02.jpg', alt='', width='400', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-02.jpg 1000w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-02-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-02-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-02-768x768.jpg 768w', sizes='(max-width: 1000px) 100vw, 1000px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-589(src='http://www.market-me.ru/wp-content/uploads/2020/04/www2-1024x758.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www2-1024x758.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www2-300x222.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www2-768x568.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www2.jpg 1285w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol(start='3')
				li ﻿
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-590(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki3-1024x696.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki3-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki3-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki3-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki3.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-592(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-03-1024x310.jpg', alt='', width='1001', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-03-1024x310.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-03-300x91.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-03-768x233.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-03.jpg 1400w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-593(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-03.jpg', alt='', width='400', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-03.jpg 1000w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-03-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-03-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-03-768x768.jpg 768w', sizes='(max-width: 1000px) 100vw, 1000px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-594(src='http://www.market-me.ru/wp-content/uploads/2020/04/www3-1024x758.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www3-1024x758.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www3-300x222.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www3-768x568.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www3.jpg 1285w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol(start='4')
				li ﻿
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-595(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki4-1024x696.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki4-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki4-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki4-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki4.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-596(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-04-1024x310.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-04-1024x310.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-04-300x91.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-04-768x233.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-04.jpg 1400w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-597(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-04.jpg', alt='', width='400', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-04.jpg 1000w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-04-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-04-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-04-768x768.jpg 768w', sizes='(max-width: 1000px) 100vw, 1000px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-599(src='http://www.market-me.ru/wp-content/uploads/2020/04/www4-1-1024x758.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www4-1-1024x758.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www4-1-300x222.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www4-1-768x568.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www4-1.jpg 1285w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol(start='5')
				li ﻿
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-600(src='http://www.market-me.ru/wp-content/uploads/2020/04/doki5-1024x696.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/doki5-1024x696.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/doki5-300x204.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/doki5-768x522.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/doki5.jpg 1200w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-601(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-05-1024x310.jpg', alt='', width='1000', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-05-1024x310.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-05-300x91.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-05-768x233.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-позиционирование-05.jpg 1400w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-602(src='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-05.jpg', alt='', width='400', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-05.jpg 1000w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-05-300x300.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-05-150x150.jpg 150w, http://www.market-me.ru/wp-content/uploads/2020/04/цветомания-букет-05-768x768.jpg 768w', sizes='(max-width: 1000px) 100vw, 1000px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-603(src='http://www.market-me.ru/wp-content/uploads/2020/04/www5-1024x758.jpg', alt='', width='800', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/www5-1024x758.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/www5-300x222.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/www5-768x568.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/www5.jpg 1285w', sizes='(max-width: 1024px) 100vw, 1024px')
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#tsvetomaniya') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug