include modules/head.pug
body
	include modules/header.pug
	
	section.page__container
		.case.typography.global__content
			h1.case__h1 Watermin
			p.has-text-align-center.is-style-mm__p-lead Репозиционирование витаминизированной воды 
			.case__info
				.case__info-title
					| Цель
				.case__info-content
					p Увеличение объемов продаж через сетевой ритейл
			h3.has-text-align-center Что мы сделали
			ol.is-style-mm__ol-highlight
				li Провели маркетинговый аудит продуктов
				li
					| Провели глубинный анализ конкурентов, представленных на российском и международных рынках
				li Выявили целевые аудитории
				li Предложили позиционирование бренда и сформировали конкурентные преимущества
				li Предложили варианты рестайлинга существующего логотипа
			.case__stages
				.case__stage
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/Water_logo.jpg')
				.case__stage
					.case__stage-title Стало
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_logo-1024x131.jpg')
			ol.is-style-mm__ol-highlight(start='6')
				li
					| Разработали 10 дизайн-концепций на примере упаковки линейки витаминизированной воды.
					br
					| Финальные
					| 					варианты дизайн-концепций
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-608(src='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11-1024x724.jpg', alt='', width='500', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-11.jpg 1755w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-609(src='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21-1024x724.jpg', alt='', width='500', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-21.jpg 1755w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-610(src='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41-1024x724.jpg', alt='', width='500', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/Watermin_concepts-41.jpg 1755w', sizes='(max-width: 1024px) 100vw, 1024px')
			ol.is-style-mm__ol-highlight(start='7')
				li Заказчик выбрал дизайн концепцию
			.case__stages
				.case__stage.case__stage-large
					.case__stage-title Было
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/2-1-1024x724.jpg')
				.case__stage.case__stage-large
					.case__stage-title Стало
					img.case__stage-image(src='http://www.market-me.ru/wp-content/uploads/2020/04/1-1024x724.jpg')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-614(src='http://www.market-me.ru/wp-content/uploads/2020/04/defence-1024x724.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/defence-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/defence-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/defence-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/defence-1536x1087.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/defence.jpg 1835w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-615(src='http://www.market-me.ru/wp-content/uploads/2020/04/power-1024x724.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/power-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/power-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/power-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/power-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/power.jpg 1830w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-616(src='http://www.market-me.ru/wp-content/uploads/2020/04/everyday-1024x724.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/everyday-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/everyday-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/everyday-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/everyday-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/everyday.jpg 1839w', sizes='(max-width: 1024px) 100vw, 1024px')
			.wp-block-image
				figure.aligncenter.size-large.is-resized
					img.wp-image-617(src='http://www.market-me.ru/wp-content/uploads/2020/04/detox-1024x724.jpg', alt='', width='600', srcset='http://www.market-me.ru/wp-content/uploads/2020/04/detox-1024x724.jpg 1024w, http://www.market-me.ru/wp-content/uploads/2020/04/detox-300x212.jpg 300w, http://www.market-me.ru/wp-content/uploads/2020/04/detox-768x543.jpg 768w, http://www.market-me.ru/wp-content/uploads/2020/04/detox-1536x1086.jpg 1536w, http://www.market-me.ru/wp-content/uploads/2020/04/detox.jpg 1829w', sizes='(max-width: 1024px) 100vw, 1024px')
			p
			.case__nav
				.btn-wrapper
					a.btn-gradient(href='portfolio.html#watermin') Вернуться в портфолио
	include modules/footer.pug
	include modules/script.pug