$color-blue: #223983;
$color-text: #58595b;
$color-green: #66bb86;
$color-white: #ffffff;

$font-base: "Proxima Nova", sans-serif;
$font-add: "PT Serif", sans-serif;

// $font-add: "Palatino Linotype", sans-serif;