$color-blue: #223983;
$color-light-blue: #eef8fd;
$color-text: #58595b;
$color-white: #ffffff;

$font-base: "Proxima Nova", sans-serif;
$font-add: "PT Serif", sans-serif;

// $font-add: "Palatino Linotype", sans-serif;
